trunk/xsd2sch/test/msData/modelGroups/mgA008.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="comp">
		<xsd:all id="foo">
			<xsd:element name="fud" type="xsd:string"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:group name="testGroup">
		<xsd:all id="foo">
			<xsd:element name="test"/>
		</xsd:all>
	</xsd:group>
</xsd:schema>
