trunk/xsd2sch/test/msData/modelGroups/mgA015.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:complexContent>
			<xsd:restriction base="xsd:anyType">
				<xsd:all>
					<xsd:element name="e1" minOccurs="0" maxOccurs="0"/>
				</xsd:all>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
