trunk/xsd2sch/test/msData/modelGroups/mgC014.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root" type="test"/>
	<xs:complexType name="test">
		<xs:all>
			<xs:element name="a"/>
			<xs:element name="b" minOccurs="0"/>
			<xs:element name="c"/>
		</xs:all>
	</xs:complexType>
</xs:schema>
