trunk/xsd2sch/test/msData/modelGroups/mgF007.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>
				Test Test
			</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="a" type="xsd:integer"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
