trunk/xsd2sch/test/msData/modelGroups/mgF021.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:sequence>
			<xsd:group ref="g1"/>
			<xsd:annotation>
				<xsd:documentation>This should fail</xsd:documentation>
			</xsd:annotation>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="g1">
		<xsd:element name="g1"/>
	</xsd:group>
</xsd:schema>
