trunk/xsd2sch/test/msData/modelGroups/mgI019.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:choice>
			<xsd:any namespace="http://n1" processContents="skip"/>
			<xsd:any namespace="http://n2" processContents="skip"/>
			<xsd:any namespace="http://n3" processContents="skip"/>
			<xsd:any namespace="http://n4" processContents="skip"/>
			<xsd:element name="e1"/>
			<xsd:element name="e2"/>
			<xsd:element name="e3"/>
			<xsd:element name="e4"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
