trunk/xsd2sch/test/msData/modelGroups/mgO027.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:redefine schemaLocation="mgO027B.xsd">
		<xsd:group name="group">
			<xsd:all maxOccurs="1" minOccurs="0">
				<xsd:element name="e1"/>
			</xsd:all>
		</xsd:group>
	</xsd:redefine>
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:sequence>
			<xsd:group ref="group"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
