trunk/xsd2sch/test/msData/modelGroups/mgO007.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="group">
		<xsd:all>
			<xsd:element name="e1"/>
		</xsd:all>
	</xsd:group>
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:complexContent>
			<xsd:extension base="bar">
				<xsd:group ref="group"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="bar">
		<xsd:all minOccurs="1" maxOccurs="1"/>
	</xsd:complexType>
</xsd:schema>
