trunk/xsd2sch/test/msData/modelGroups/mgO033.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="foo">
		<xsd:group ref="group"/>
	</xsd:complexType>
	<xsd:group name="group">
		<xsd:schema>
			<xsd:all maxOccurs="1" minOccurs="0">
				<xsd:element name="e1"/>
			</xsd:all>
		</xsd:schema>
	</xsd:group>
</xsd:schema>
