trunk/xsd2sch/test/msData/modelGroups/mgO004.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="bar"/>
	<xsd:complexType name="bar">
		<xsd:all>
			<xsd:element name="child" type="foo"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="foo">
		<xsd:all minOccurs="1" maxOccurs="1">
			<xsd:element name="e1"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
