trunk/xsd2sch/test/msData/modelGroups/mgO029.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:complexContent>
			<xsd:restriction base="bar">
				<xsd:all maxOccurs="1" minOccurs="0">
					<xsd:element name="e1"/>
				</xsd:all>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="bar">
		<xsd:all maxOccurs="1" minOccurs="0">
			<xsd:element name="e1"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
