trunk/xsd2sch/test/msData/modelGroups/mgP043.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="foo">
		<xsd:complexContent>
			<xsd:restriction base="bar">
				<xsd:group ref="group"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="bar">
		<xsd:all maxOccurs="2" minOccurs="1">
			<xsd:element name="e1"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:group name="group">
		<xsd:all>
			<xsd:element name="e1"/>
		</xsd:all>
	</xsd:group>
</xsd:schema>
