trunk/xsd2sch/test/msData/modelGroups/mgQ011.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:all>
			<xsd:element name="e1" type="xsd:string"/>
			<xsd:element name="e2" type="bar"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="bar">
		<xsd:choice>
			<xsd:all>
				<xsd:sequence>
					<xsd:element name="e1" type="xsd:string"/>
				</xsd:sequence>
			</xsd:all>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
