trunk/xsd2sch/test/msData/modelGroups/mgQ021.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:choice>
			<xsd:element name="e1" type="xsd:string"/>
			<xsd:group ref="group"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:group name="group">
		<xsd:sequence>
			<xsd:element name="e1" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
