trunk/xsd2sch/test/msData/modelGroups/mgR013.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:all>
			<xsd:element name="e1" type="xsd:string"/>
			<xsd:choice>
				<xsd:choice>
					<xsd:element name="e1" type="xsd:integer"/>
				</xsd:choice>
			</xsd:choice>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
