trunk/xsd2sch/test/msData/modelGroups/mgZ002.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  
  <xs:complexType name="test"> 
	<xs:attribute name="att" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="test1"> 
    <xs:complexContent>
	<xs:extension base="test">
		<xs:all>
			<xs:element name="title" type="xs:string" minOccurs="0" />
		</xs:all>
	</xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>

