trunk/xsd2sch/test/msData/identityConstraint/idA044.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="uniqueElement"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:unique name="fooID">
			<xsd:annotation>
				<xsd:documentation>
		    This is an invalid content model
		</xsd:documentation>
			</xsd:annotation>
			<xsd:field xpath="@keyField"/>
			<xsd:selector xpath=".//uniqueElement"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="uniqueElement">
		<xsd:complexType>
			<xsd:attribute name="keyField" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
