trunk/xsd2sch/test/msData/identityConstraint/idA028.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="uniqueElement"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="uniqueElement">
		<xsd:complexType>
			<xsd:attribute name="keyField" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="myGroup">
		<xsd:sequence>
			<xsd:unique name="fooID">
				<xsd:selector xpath=".//uniqueElement"/>
				<xsd:field xpath="@keyField"/>
			</xsd:unique>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
