trunk/xsd2sch/test/msData/identityConstraint/idB005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:redefine schemaLocation="idB005a.xsd">
		<xsd:complexType name="keyInfo">
			<xsd:complexContent>
				<xsd:extension base="keyInfo">
					<xsd:attribute name="key2" type="xsd:boolean"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:redefine>
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="keyElement"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key id="foo123" name="keyName">
			<xsd:selector xpath=".//keyElement"/>
			<xsd:field xpath="@keyField"/>
		</xsd:key>
	</xsd:element>
	<xsd:element name="keyElement" type="keyinfo"/>
</xsd:schema>
