trunk/xsd2sch/test/msData/identityConstraint/idD029.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="uniqueElement"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:unique name="idName">
			<xsd:selector xpath=".//uniqueElement">
				<xsd:keyref name="keyrefName" refer="keyName">
					<xsd:element name="myElement" type="xsd:string"/>
				</xsd:keyref>
			</xsd:selector>
			<xsd:field xpath="@keyField"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="uniqueElement">
		<xsd:complexType>
			<xsd:attribute name="keyField" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="keyrefElement">
		<xsd:complexType>
			<xsd:attribute name="keyrefField" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
