trunk/xsd2sch/test/msData/identityConstraint/idG010.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="uid" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key id="foo123" name="uuid">
			<xsd:selector xpath=".//uid"/>
			<xsd:field xpath="pid"/>
		</xsd:key>
	</xsd:element>
	<xsd:element name="uid">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pid" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="val" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
