trunk/xsd2sch/test/msData/identityConstraint/idI010.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tid" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:unique id="foo123" name="uid">
			<xsd:selector xpath="imp:iid"/>
			<xsd:field xpath="@val"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="tid">
		<xsd:complexType>
			<xsd:attribute name="val" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
