trunk/xsd2sch/test/msData/identityConstraint/idL102.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified" targetNamespace="myNS.tempuri.org" xmlns:myNS="myNS.tempuri.org" xmlns="myNS.tempuri.org">
	<xs:element name="root">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="t" maxOccurs="unbounded"/>
				<xs:element ref="u" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
		<xs:key id="foo123" name="tableu">
			<xs:selector xpath=".//myNS:t | .//myNS:u"/>
			<xs:field xpath="@myNS:*"/>
		</xs:key>
	</xs:element>
	<xs:attribute name="row" type="xs:string"/>
	<xs:element name="t" type="ttype" nillable="true"/>
	<xs:complexType name="ttype">
		<xs:simpleContent>
			<xs:extension base="xs:boolean">
				<xs:attribute ref="row"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="u" type="utype" nillable="true"/>
	<xs:complexType name="utype">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute ref="row"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
