trunk/xsd2sch/test/msData/attributeGroup/attgD020.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" attributeFormDefault="qualified">
	<xsd:attribute name="att1" type="xsd:string"/>
	<xsd:attribute name="att2" type="xsd:string"/>
	<xsd:element name="doc">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="x:main"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:attributeGroup name="main">
		<xsd:attribute ref="x:att1"/>
		<xsd:attributeGroup ref="x:foo"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="foo">
		<xsd:attribute name="abc"/>
		<xsd:anyAttribute namespace="##any"/>
	</xsd:attributeGroup>
</xsd:schema>
