trunk/xsd2sch/test/msData/attributeGroup/attgC023.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attributeGroup name="g">
		<xsd:attribute name="att" type="xsd:int"/>
	</xsd:attributeGroup>
	<xsd:complexType name="B">
		<xsd:sequence>
			<xsd:element name="e"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="abc">
		<xsd:complexContent>
			<xsd:extension base="B">
				<xsd:attributeGroup ref="g"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="doc" type="abc"/>
</xsd:schema>
