trunk/xsd2sch/test/msData/attributeGroup/attgC016.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="abc">
		<xsd:attributeGroup ref="foo"/>
	</xsd:complexType>
	<xsd:element name="doc" type="abc"/>
	<xsd:attributeGroup name="foo">
		<xsd:attribute name="att" type="xsd:int"/>
		<xsd:attribute name="att1" type="xsd:string"/>
		<xsd:attribute name="att2" type="xsd:string"/>
	</xsd:attributeGroup>
</xsd:schema>
