trunk/xsd2sch/test/msData/attributeGroup/attgZ002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:redefine schemaLocation="attgZ002.imp">
		<xsd:attributeGroup name="foo">
			<xsd:attribute name="att2" type="xsd:string"/>
		</xsd:attributeGroup>
	</xsd:redefine>
	<xsd:complexType name="abc">
		<xsd:attributeGroup ref="foo"/>
	</xsd:complexType>
	<xsd:element name="doc" type="abc"/>
</xsd:schema>
