trunk/xsd2sch/test/msData/attributeGroup/attgD016.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attribute name="foo" type="xsd:int"/>
	<xsd:attributeGroup name="attG1" id="abc">
		<xsd:attribute ref="att1"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="attG2" id="abc">
		<xsd:attribute ref="att1"/>
	</xsd:attributeGroup>
	<xsd:complexType name="attgRef">
		<xsd:attributeGroup ref="attG1"/>
		<xsd:attributeGroup ref="attG2"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="attgRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
