trunk/xsd2sch/test/msData/attributeGroup/attgD015.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attributeGroup name="foo" id="abc">
		<xsd:attributeGroup ref="foobar"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="foobar">
		<xsd:attributeGroup ref="foo"/>
	</xsd:attributeGroup>
	<xsd:complexType name="attgRef">
		<xsd:attributeGroup ref="foo"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="attgRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
