trunk/xsd2sch/test/msData/attributeGroup/attgD010.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attribute name="foo" type="xsd:string"/>
	<xsd:attribute name="bar" type="xsd:string"/>
	<xsd:attributeGroup name="attG2">
		<xsd:attribute name="y1" type="xsd:int"/>
		<xsd:attribute name="y2" type="xsd:int"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="attG3">
		<xsd:attribute name="x1" type="xsd:int"/>
		<xsd:attribute name="x2" type="xsd:int"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="attG">
		<xsd:attribute name="att1" type="xsd:int"/>
		<xsd:attributeGroup ref="attG2"/>
		<xsd:attribute name="att2" type="xsd:int"/>
		<xsd:attribute ref="foo"/>
		<xsd:attributeGroup ref="attG3"/>
		<xsd:attribute name="att3" type="xsd:int"/>
	</xsd:attributeGroup>
	<xsd:complexType name="attgRef">
		<xsd:attributeGroup ref="attG"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="attgRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
