trunk/xsd2sch/test/msData/attributeGroup/attgB004.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attribute name="att1" type="xsd:string"/>
	<xsd:attribute name="att2" type="xsd:string"/>
	<xsd:complexType name="base">
		<xsd:sequence>
			<xsd:element name="e1"/>
			<xsd:element name="e2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ext">
		<xsd:complexContent>
			<xsd:extension base="base">
				<xsd:attributeGroup name="abc"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:attributeGroup name="abc" id="abc">
		<xsd:attribute name="att" type="xsd:int"/>
	</xsd:attributeGroup>
</xsd:schema>
