trunk/xsd2sch/test/msData/attributeGroup/attgB005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:redefine schemaLocation="attgB005vRed.xsd">
		<xsd:attributeGroup name="car">
			<xsd:attributeGroup ref="car"/>
		</xsd:attributeGroup>
	</xsd:redefine>
	<xsd:attribute name="att1" type="xsd:string"/>
	<xsd:attribute name="att2" type="xsd:string"/>
</xsd:schema>
