trunk/xsd2sch/test/msData/attributeGroup/attgD036.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:x="http://xsdtesting" targetNamespace="http://xsdtesting" elementFormDefault="qualified">
	<xsd:redefine schemaLocation="attgD036.red">
		<xsd:attributeGroup name="car">
			<xsd:attributeGroup ref="x:car"/>
		</xsd:attributeGroup>
	</xsd:redefine>
	<xsd:attribute name="att1" type="xsd:string"/>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="x:attRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="attRef">
		<xsd:attributeGroup ref="x:car"/>
	</xsd:complexType>
</xsd:schema>
