trunk/xsd2sch/test/msData/attributeGroup/attgD023.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting">
	<xsd:attribute name="att1" type="xsd:string"/>
	<xsd:attribute name="att2" type="xsd:string"/>
	<xsd:element name="doc">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="x:main"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:attributeGroup name="main">
		<xsd:attribute ref="x:att1"/>
		<xsd:anyAttribute namespace="##other"/>
	</xsd:attributeGroup>
	<xsd:attribute name="foo" type="xsd:int"/>
	<xsd:attribute name="bar" type="xsd:int"/>
</xsd:schema>
