trunk/xsd2sch/test/msData/attributeGroup/attgC038.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:redefine schemaLocation="attgC038v1.red">
		<xsd:attributeGroup name="foo">
			<xsd:attributeGroup ref="foo"/>
			<xsd:attribute name="extFoo" type="xsd:int"/>
		</xsd:attributeGroup>
	</xsd:redefine>
	<xsd:redefine schemaLocation="attgC038v2.red">
		<xsd:attributeGroup name="car">
			<xsd:attributeGroup ref="car"/>
			<xsd:attributeGroup ref="foo"/>
		</xsd:attributeGroup>
	</xsd:redefine>
	<xsd:element name="doc" type="test"/>
	<xsd:complexType name="test">
		<xsd:attributeGroup ref="car"/>
	</xsd:complexType>
</xsd:schema>
