trunk/xsd2sch/test/msData/attributeGroup/attgD022.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attribute name="att1" type="xsd:string"/>
	<xsd:attribute name="att2" type="xsd:string"/>
	<xsd:element name="doc">
		<xsd:complexType mixed="true">
			<xsd:attributeGroup ref="main"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:attributeGroup name="main">
		<xsd:attribute ref="att1"/>
		<xsd:attributeGroup ref="foo"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="foo">
		<xsd:attribute name="foo" type="xsd:int"/>
		<xsd:anyAttribute namespace="##other"/>
	</xsd:attributeGroup>
</xsd:schema>
