xsd2sch/test/msData/simpleType/stG013.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fooTest"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fooTest" type="fooType"/>
	<xsd:simpleType name="myToken">
		<xsd:list itemType="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="fooType">
		<xsd:restriction base="myToken">
			<xsd:pattern value="[A-C]{0,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
