trunk/xsd2sch/test/msData/complexType/ctB098.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="fooType">
		<xs:attribute name="attrTest"/>
		<xs:anyAttribute namespace="##any"/>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
	<xs:attribute name="attrTest1" type="xs:string"/>
</xs:schema>
