trunk/xsd2sch/test/msData/complexType/ctB032.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="myGroup">
		<xsd:sequence>
			<xsd:element name="myElement" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="myType">
		<xsd:sequence>
			<xsd:element name="myEle1" type="xsd:string"/>
			<xsd:element name="myEle2" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:group ref="myGroup"/>
		<xsd:annotation>
			<xsd:documentation>
			Annotation Information
		</xsd:documentation>
		</xsd:annotation>
	</xsd:complexType>
</xsd:schema>
