trunk/xsd2sch/test/msData/complexType/ctB068.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="fooType">
		<xs:choice>
			<xs:element name="myElement" type="xs:string"/>
			<xs:element name="myEle2" type="xs:string"/>
		</xs:choice>
		<xs:attribute name="attrTest"/>
		<xs:attribute name="attrTest2"/>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
</xs:schema>
