trunk/xsd2sch/test/msData/complexType/ctB102.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attributeGroup name="attrGroup">
		<xsd:attribute name="attrTest1"/>
		<xsd:attribute name="attrTest2"/>
	</xsd:attributeGroup>
	<xsd:complexType name="fooType">
		<xsd:attributeGroup ref="attrGroup"/>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
