trunk/xsd2sch/test/msData/complexType/ctD012.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="myType">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="fooType">
		<xs:simpleContent>
			<xs:restriction base="myType">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
				<xs:length value="5"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
</xs:schema>
