trunk/xsd2sch/test/msData/complexType/ctD043.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="myType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:anyAttribute namespace="##any"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:simpleContent>
			<xsd:restriction base="myType">
				<xsd:anyAttribute namespace="##local"/>
				<xsd:attribute name="myAttr"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
