trunk/xsd2sch/test/msData/complexType/ctE003.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="myType">
		<xsd:sequence>
			<xsd:element name="ele_1" type="xsd:string"/>
			<xsd:element name="ele_2" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:simpleContent>
			<xsd:extension base="myType">
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
