trunk/xsd2sch/test/msData/complexType/ctF006.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="myType">
		<xs:choice>
			<xs:element name="myElement" type="xs:string"/>
			<xs:element name="myElement2" type="xs:string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="fooType">
		<xs:complexContent mixed="true">
			<xs:restriction base="myType">
				<xs:sequence>
					<xs:element name="myElement2" type="xs:string"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
</xs:schema>
