trunk/xsd2sch/test/msData/complexType/ctF003.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="ctF003b.xsd"/>
	<xsd:complexType name="myType">
		<xsd:sequence>
			<xsd:element name="myElement" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:complexContent id="foo123">
			<xsd:extension base="myType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
