trunk/xsd2sch/test/msData/complexType/ctH020.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="myType">
		<xs:sequence>
			<xs:element name="myElement1" type="xs:string"/>
			<xs:element name="myElement2" type="xs:string"/>
			<xs:element name="myElement3" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="myAttr"/>
	</xs:complexType>
	<xs:complexType name="fooType">
		<xs:complexContent>
			<xs:extension base="myType">
				<xs:all>
					<xs:element name="myElement4" type="xs:string"/>
				</xs:all>
				<xs:attribute name="myAttr2"/>
				<xs:attribute name="myAttr3"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
</xs:schema>
