trunk/xsd2sch/test/msData/complexType/ctH017.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="myType">
		<xsd:sequence>
			<xsd:element name="myElement1" type="xsd:string"/>
			<xsd:element name="myElement2" type="xsd:string"/>
			<xsd:element name="myElement3" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="myAttr"/>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:complexContent>
			<xsd:extension base="myType">
				<xsd:all>
					<xsd:element name="myElement4" type="xsd:string"/>
				</xsd:all>
				<xsd:choice>
					<xsd:element name="extraElement" type="xsd:integer"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
