trunk/xsd2sch/test/msData/complexType/ctI001.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="fooType">
		<xsd:sequence>
			<xsd:element name="myEle1" type="xsd:string"/>
			<xsd:element name="myEle2" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:sequence>
			<xsd:element name="myEle3" type="xsd:NMTOKEN"/>
			<xsd:element name="myEle4" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
