trunk/xsd2sch/test/msData/complexType/ctI024.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" finalDefault="extension">
	<xsd:complexType name="foo">
		<xsd:sequence>
			<xsd:element name="myEle1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="myEle2" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="myEle3" type="xsd:integer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:complexContent>
			<xsd:extension base="foo">
				<xsd:sequence>
					<xsd:element name="myEle4" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
