trunk/xsd2sch/test/msData/complexType/ctJ002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="myType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="fooType">
		<xsd:complexContent>
			<xsd:extension base="myType">
				<xsd:all>
					<xsd:element name="myElement4" type="xsd:string"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
