trunk/xsd2sch/test/msData/complexType/ctM002.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="myType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="fooType">
		<xs:simpleContent>
			<xs:extension base="myType">
				<xs:attribute name="myAttr"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
</xs:schema>
