trunk/xsd2sch/test/msData/complexType/ctM004.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="myType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="fooType">
		<xsd:simpleContent>
			<xsd:extension base="myType">
				<xsd:attribute name="attrTest1" type="xsd:ID" use="required"/>
				<xsd:attribute name="attrTest2" type="xsd:ID" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
