trunk/xsd2sch/test/msData/complexType/ctN004.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="foo">
		<xs:sequence>
			<xs:element name="myEle1" type="xs:string" minOccurs="0"/>
			<xs:element name="myEle2" type="xs:integer" minOccurs="0"/>
			<xs:element name="myEle3" type="xs:integer" minOccurs="0"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##any"/>
	</xs:complexType>
	<xs:complexType name="fooType">
		<xs:complexContent>
			<xs:extension base="foo">
				<xs:sequence>
					<xs:element name="myEle4" type="xs:string"/>
				</xs:sequence>
				<xs:anyAttribute namespace="##local"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
	<xs:attribute name="local" type="xs:string"/>
</xs:schema>
