trunk/xsd2sch/test/msData/complexType/ctZ010d.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="base" mixed="true">
<xs:sequence>
<xs:element name="bar" minOccurs="0" maxOccurs="unbounded" 
type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="foo">
<xs:complexType>
<xs:complexContent>
<xs:extension base="base">
<xs:sequence>
<xs:element name="bar2" minOccurs="0" maxOccurs="unbounded" 
type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:element>
</xs:schema>
