xsd2sch/test/msData/datatypes/Facets/anyURI/anyURI_b001.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="100" ref="bar"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

    	<xsd:element type="st" name="bar"></xsd:element>

	<xsd:simpleType name="st">
		<xsd:restriction base="xsd:anyURI">
			<xsd:enumeration value="a"/>
			<xsd:enumeration value="b"/>
			<xsd:enumeration value="c"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
