xsd2sch/test/msData/complexType/ctA042.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="myElement">
		<xsd:complexType name="fooType">
			<xsd:simpleContent>
				<xsd:extension base="xsd:string">
					<xsd:attribute name="attrTest"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
