xsd2sch/test/msData/complexType/ctA048.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="_1">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="attrTest"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="root" type="_1"/>
</xs:schema>
