xsd2sch/test/msData/complexType/ctB017.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="myType">
		<xs:sequence>
			<xs:element name="myEle1" type="xs:string"/>
			<xs:element name="myEle2" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fooType">
		<xs:complexContent>
			<xs:extension base="myType">
				<xs:sequence>
					<xs:element name="myElement" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
</xs:schema>
