xsd2sch/test/msData/complexType/ctB083.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:attributeGroup name="attrGroup">
		<xs:attribute name="attrTest"/>
		<xs:attribute name="attrTest2"/>
	</xs:attributeGroup>
	<xs:complexType name="fooType">
		<xs:sequence>
			<xs:element name="myElement" type="xs:string"/>
		</xs:sequence>
		<xs:attributeGroup ref="attrGroup"/>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
</xs:schema>
