xsd2sch/test/msData/complexType/ctB079.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="fooType">
		<xsd:sequence>
			<xsd:element name="myElement" type="xsd:string"/>
		</xsd:sequence>
		<xsd:choice>
			<xsd:element name="myElement2" type="xsd:string"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
