xsd2sch/test/msData/complexType/ctB047.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="myType">
		<xsd:sequence>
			<xsd:element name="myEle1" type="xsd:string"/>
			<xsd:element name="myEle2" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:all>
			<xsd:element name="myElement" type="xsd:string"/>
		</xsd:all>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
