xsd2sch/test/msData/complexType/ctB101.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attributeGroup name="attrGroup">
		<xsd:attribute name="attrTest1"/>
		<xsd:attribute name="attrTest2"/>
	</xsd:attributeGroup>
	<xsd:complexType name="fooType">
		<xsd:attributeGroup ref="attrGroup"/>
		<xsd:annotation>
			<xsd:documentation>
			Annotation Information
		</xsd:documentation>
		</xsd:annotation>
	</xsd:complexType>
</xsd:schema>
