xsd2sch/test/msData/complexType/ctB117.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="myGroup">
		<xsd:sequence>
			<xsd:element name="myElement" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="fooType">
		<xsd:anyAttribute namespace="##any"/>
		<xsd:group ref="myGroup"/>
	</xsd:complexType>
</xsd:schema>
