xsd2sch/test/msData/complexType/ctB103.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attributeGroup name="attrGroup">
		<xsd:attribute name="attrTest1"/>
		<xsd:attribute name="attrTest2"/>
	</xsd:attributeGroup>
	<xsd:complexType name="myType">
		<xsd:sequence>
			<xsd:element name="myEle1" type="xsd:string"/>
			<xsd:element name="myEle2" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:attributeGroup ref="attrGroup"/>
		<xsd:complexContent>
			<xsd:extension base="myType"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
