xsd2sch/test/msData/complexType/ctD039.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="myType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:simpleContent>
			<xsd:restriction base="myType">
				<xsd:sequence>
					<xsd:element name="myElement" type="xsd:string"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
