xsd2sch/test/msData/complexType/ctD030.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="myType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="fooType">
		<xs:simpleContent>
			<xs:restriction base="myType">
				<xs:attribute name="myAttr"/>
				<xs:attribute name="myAttr2"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
</xs:schema>
