xsd2sch/test/msData/complexType/ctE008.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="fooType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:anyAttribute namespace="##any"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
	<xs:attribute name="attrTest" type="xs:string"/>
</xs:schema>
