xsd2sch/test/msData/complexType/ctE007.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:attributeGroup name="attrGroup">
		<xs:attribute name="attrTest1"/>
		<xs:attribute name="attrTest2"/>
	</xs:attributeGroup>
	<xs:complexType name="fooType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="attrGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
</xs:schema>
