xsd2sch/test/msData/complexType/ctE018_b.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="myType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>

	<xsd:complexType name="fooType">
		<xsd:simpleContent>
			<xsd:extension base="myType">
				<xsd:attributeGroup ref="grp"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:attributeGroup name="grp">
	<xsd:attribute name="attrTest1"  type ="xsd:int" />
	<xsd:attribute name="attrTest2"  type="xsd:ID" />
	</xsd:attributeGroup>
</xsd:schema>
