xsd2sch/test/msData/complexType/ctF008.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="myType">
		<xsd:choice>
			<xsd:element name="myElement" type="xsd:string"/>
			<xsd:element name="myElement2" type="xsd:string"/>
		</xsd:choice>
		<xsd:attribute name="myAttr"/>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:complexContent mixed="true">
			<xsd:extension base="myType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
