xsd2sch/test/msData/complexType/ctF010.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="myType">
		<xs:choice>
			<xs:element name="myElement" type="xs:string"/>
			<xs:element name="myElement2" type="xs:string"/>
		</xs:choice>
		<xs:attribute name="myAttr"/>
	</xs:complexType>
	<xs:complexType name="fooType">
		<xs:complexContent mixed="false">
			<xs:extension base="myType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="root" type="fooType"/>
</xs:schema>
