xsd2sch/test/msData/complexType/ctH077.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="myType">
		<xsd:sequence>
			<xsd:element name="myElement1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="myElement2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="myElement3" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:anyAttribute namespace="##local"/>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:complexContent>
			<xsd:extension base="myType">
				<xsd:anyAttribute namespace="##any"/>
				<xsd:attribute name="myAttr"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
