xsd2sch/test/msData/complexType/ctH005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="myGroup">
		<xsd:sequence>
			<xsd:element name="myElement" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="typeGroup">
		<xsd:sequence>
			<xsd:element name="myElement1" type="xsd:string"/>
			<xsd:element name="myElement2" type="xsd:string"/>
			<xsd:element name="myElement3" type="xsd:string"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="myType">
		<xsd:group ref="typeGroup"/>
		<xsd:anyAttribute namespace="##local"/>
	</xsd:complexType>
	<xsd:complexType name="fooType">
		<xsd:complexContent>
			<xsd:extension base="myType">
				<xsd:group ref="myGroup"/>
				<xsd:choice>
					<xsd:element name="extraElement1" type="xsd:string"/>
					<xsd:element name="extraElement2" type="xsd:integer"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
