xsd2sch/test/msData/complexType/ctL007.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fooTest"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fooTest" type="fooType"/>
	<xsd:complexType name="fooType">
		<xsd:sequence>
			<xsd:element name="elem1" minOccurs="0" type="xsd:string"/>
			<xsd:element name="elem2" minOccurs="0" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
