xsd2sch/test/msData/complexType/ctL005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fooTest"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fooTest" type="fooType"/>
	<xsd:complexType name="fooType" mixed="false">
		<xsd:sequence>
			<xsd:element name="child_1" type="xsd:string"/>
			<xsd:element name="child_2" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
