xsd2sch/test/msData/complexType/ctZ009_c.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="base">
    <xs:choice>
        <xs:sequence minOccurs="1" maxOccurs="2">
            <xs:element name="b" minOccurs="2" maxOccurs="2"/>
        </xs:sequence>
    </xs:choice>
 </xs:complexType>

 <xs:element name="root" />
</xs:schema>


