xsd2sch/test/msData/complexType/ctZ012b.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="base" mixed="true">
		<xs:sequence>
			<xs:element name="e" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="derived">
		<xs:complexContent>
			<xs:extension base="base"/>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
