trunk/xsd2sch/test/msData/regex/reDB6.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='base64Binary', pattern='([0-1]{4} | (0 | 1){8})', value='111111111', type='invalid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:base64Binary">
           <xsd:pattern value="([0-1]{4} | (0 | 1){8})"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
