trunk/xsd2sch/test/msData/regex/reDC1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='hexBinary', pattern='AF01D', value='AF01D', type='valid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:hexBinary">
           <xsd:pattern value="AF01D1"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
