trunk/xsd2sch/test/msData/regex/reDD2.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='duration', pattern='P\p{Nd}{4}Y\p{Nd}{2}M', value='P111Y12M', type='invalid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:duration">
           <xsd:pattern value="P\p{Nd}{4}Y\p{Nd}{2}M"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
