trunk/xsd2sch/test/msData/regex/reDG2.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='gYearMonth', pattern='\p{Nd}{4}-\[{Nd}{2}', value='12000-11', type='invalid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:gYearMonth">
           <xsd:pattern value="\p{Nd}{4}-\[{Nd}{2}"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
