trunk/xsd2sch/test/msData/regex/reDG6.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='gDay', pattern='([123]0)|([12]?[1-9])|(31)', value='30', type='valid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:gDay">
           <xsd:pattern value="---([123]0)|([12]?[1-9])|(31)"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
