trunk/xsd2sch/test/msData/regex/reDH3.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='language', pattern='\c{2,4}', value='ch-a', type='valid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:language">
           <xsd:pattern value="\c{2,4}"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
