trunk/xsd2sch/test/msData/regex/reDH7a.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice maxOccurs="2">
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:IDREF">
           <xsd:pattern value="\c[\c\d]*"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
