trunk/xsd2sch/test/msData/regex/reDI4.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='negativeInteger', pattern='\-?\d', value='+1', type='invalid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:negativeInteger">
           <xsd:pattern value="\-?\d"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
