trunk/xsd2sch/test/msData/regex/reF34.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='[a-b-[0-9]]+', value='a1', type='invalid', RULE='15,16'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="[a-b-[0-9]]+"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
