trunk/xsd2sch/test/msData/regex/reF46.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\c^\d\c', value='a*a', type='valid', RULE='15,16'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\c[^\d]\c"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
