trunk/xsd2sch/test/msData/regex/reJ21.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\p{M}*', value='#x64B;#x1D1AD;#x903;#x1D172;#x903;#x1D172;#x20DD;#x20DD;#x20E0;', type='valid', RULE='25,30'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\p{M}*"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
