trunk/xsd2sch/test/msData/regex/reJ33.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\p{Nl}*', value='#x1034A;#x3025;', type='valid', RULE='25,31'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\p{Nl}*"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
