trunk/xsd2sch/test/msData/regex/reJ53.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\p{Z}*', value='#x1680;#x3000;#x2028;#x2028;#x2029;#x2029;', type='valid', RULE='25,33'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\p{Z}*"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
