trunk/xsd2sch/test/msData/regex/reK19.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\P{Lo}*', value='#x5D0;#x2FA1D;', type='invalid', RULE='26,29'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\P{Lo}*"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
