trunk/xsd2sch/test/msData/regex/reK29.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\P{N}*', value='#xFF10;#x1D7FF;#x1034A;#x1034A;#x3025;#xB2;#xB2;#x10323;', type='invalid', RULE='26,31'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\P{N}*"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
