trunk/xsd2sch/test/msData/regex/reK37.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\P{P}*', value='#x203F;#xFF65;#x301C;#x301C;#xFF0D;#x301D;#x301D;#xFF62;#x301E;#x301E;#xFF63;#xAB;#xAB;#x2039;#xBB;#xBB;#x203A;#xBF;#xBF;#xFF64;', type='invalid', RULE='26,32'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\P{P}*"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
