trunk/xsd2sch/test/msData/regex/reK9.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\P{L}*', value='#x41;#x1D7A8;#x61;#x61;#x1D7C9;#x1C5;#x1C5;#x1FFC;#x2B0;#x2B0;#xFF9F;#x5D0;#x5D0;#x2FA1D;', type='invalid', RULE='26,29'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\P{L}*"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
