xsd2sch/test/msData/datatypes/Facets/Schemas/double_maxInclusive003.xsd

<?xml version='1.0'?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >
<!-- Schema to test double datatype -->
  <xsd:element name='test' type='fooType' />
  <xsd:complexType name='fooType' > 
    <xsd:sequence>
      <xsd:element name='foo' >
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:maxInclusive value="5.55"/>
            <xsd:maxExclusive value="5.55"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
