xsd2sch/test/msData/datatypes/Facets/Schemas/gMonthDay_pattern001.xsd

<?xml version='1.0'?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >
<!-- Schema to test gMonthDay datatype -->
  <xsd:element name='test' type='fooType' />
  <xsd:complexType name='fooType' > 
    <xsd:sequence>
      <xsd:element name='foo' >
        <xsd:simpleType>
          <xsd:restriction base="xsd:gMonthDay">
            <xsd:pattern value="--[0-9]{2}-[0-9]{2}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
