xsd2sch/test/msData/datatypes/Facets/Schemas/gMonth_enumeration002.xsd

<?xml version='1.0'?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >
<!-- Schema to test gMonth datatype -->
  <xsd:element name='test' type='fooType' />
  <xsd:complexType name='fooType' > 
    <xsd:sequence>
      <xsd:element name='foo' >
        <xsd:simpleType>
          <xsd:restriction base="xsd:gMonth">
            <xsd:enumeration value="--10--"/>
            <xsd:enumeration value="--01--"/>
            <xsd:enumeration value="--11--"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
