trunk/xsd2sch/test/msData/element/elemQ006.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="myElem">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="myElem1" type="xsd:string"/>
				<xsd:element name="myElem2" type="xsd:string"/>
			</xsd:all>
		</xsd:complexType>
		<xsd:annotation>
			<xsd:documentation>
			Annotation Information
		</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
