trunk/xsd2sch/test/msData/element/elemO001.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fooTest"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fooTest">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="parent"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="parent" type="xsd:string" abstract="true"/>
</xsd:schema>
