trunk/xsd2sch/test/msData/element/elemQ013.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fooTest" minOccurs="1" maxOccurs="2"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fooTest" type="fooType"/>
	<xsd:simpleType name="fooType">
		<xsd:restriction base="xsd:NMTOKEN"/>
	</xsd:simpleType>
</xsd:schema>
