trunk/xsd2sch/test/msData/element/elemD004.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="author">
		<xsd:sequence>
			<xsd:element name="title" type="xsd:string"/>
			<xsd:element name="author" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="book" type="author" default="foo"/>
</xsd:schema>
