trunk/xsd2sch/test/msData/element/elemO002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fooTest"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fooTest" type="fooType"/>
	<xsd:simpleType name="fooType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-E]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
