trunk/xsd2sch/test/msData/element/elemZ012.xsd

<xs:schema id="_259522381" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element final="#all" nillable="false"  default="YYXPADGVWRINYHGPQEFLBRMOUKOLBFXWGSRFA" name="elem1">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension  base="xs:decimal">
          <xs:attribute name="attr1"  type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element> 


  <xs:element substitutionGroup="elem1" default="2.0" name="elem2"  /> 

</xs:schema>
