trunk/xsd2sch/test/msData/element/elemP007.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="myElem" type="xsd:string"/>
	<xsd:complexType name="mytype">
		<xsd:all>
			<xsd:element ref="myElem">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="myTest" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
