trunk/xsd2sch/test/msData/element/QFE1700g.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="e1" nillable="true">
    <xs:complexType >
      <xs:sequence>
        <xs:element name="e3" minOccurs="1"/>
        <xs:element name="e4" minOccurs="0"/>
        <xs:element name="e5" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="root">
    <xs:complexType >
      <xs:sequence>
        <xs:element ref="e1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>