trunk/xsd2sch/test/msData/element/QFE1700c.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="e2" nillable="true">
          <xs:complexType mixed="true">
            <xs:sequence>
	      <xs:element name="e3" type="xs:int"/>	
          </xs:sequence>
        </xs:complexType>
  </xs:element>

  <xs:element name="root">
    <xs:complexType >
      <xs:sequence>
        <xs:element name="e1" type="xs:string" />
        <xs:any namespace="##any" processContents="skip" />
        <xs:element ref="e2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>