trunk/xsd2sch/test/msData/element/QFE1700d.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="e1" nillable="false">
          <xs:complexType>
            <xs:sequence>
	      <xs:element name="e3" type="xs:int"/>	
          </xs:sequence>
        </xs:complexType>
  </xs:element>

  <xs:element name="root">
    <xs:complexType >
      <xs:sequence>
        <xs:element ref="e1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>