xsd2sch/test/msData/identityConstraint/idA059.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="uniqueElement"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:unique name="fooID">
			<xsd:sequence>
				<xsd:element name="seqElement1" type="xsd:string"/>
				<xsd:element name="seqElement2" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="uniqueElement">
		<xsd:complexType>
			<xsd:attribute name="keyField" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
