xsd2sch/test/msData/identityConstraint/idA017.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:otherNS="diffNS">
	<xsd:import namespace="diffNS" schemaLocation="idA017a.xsd"/>
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="uniqueElement"/>
				<xsd:element ref="otherNS:otherSubRoot"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:unique id="foo123" name="FooID">
			<xsd:selector xpath=".//uniqueElement"/>
			<xsd:field xpath="@keyField"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="uniqueElement">
		<xsd:complexType>
			<xsd:attribute name="keyField" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
