xsd2sch/test/msData/identityConstraint/idB052.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="keyElement"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key id="foo123" name="keyName">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:key>
	</xsd:element>
	<xsd:element name="keyElement">
		<xsd:complexType>
			<xsd:attribute name="keyField" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
