xsd2sch/test/msData/identityConstraint/idE022.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="keyElement"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key name="keyName">
			<xsd:selector xpath=".//keyElement"/>
			<xsd:field xpath="@keyField">
				<xsd:field xpath="@a"/>
				<xsd:field xpath="@b"/>
			</xsd:field>
		</xsd:key>
	</xsd:element>
	<xsd:element name="keyElement">
		<xsd:complexType>
			<xsd:attribute name="keyField" type="xsd:string"/>
			<xsd:attribute name="a" type="xsd:string"/>
			<xsd:attribute name="b" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
