xsd2sch/test/msData/identityConstraint/idE032.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="keyElement"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key name="keyName">
			<xsd:selector xpath=".//keyElement"/>
			<xsd:field xpath="@keyField">
				<xsd:sequence>
					<xsd:element name="seqElement1" type="xsd:string"/>
					<xsd:element name="seqElement2" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:field>
		</xsd:key>
	</xsd:element>
	<xsd:element name="keyElement">
		<xsd:complexType>
			<xsd:attribute name="keyField" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
