xsd2sch/test/msData/identityConstraint/idE002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="keyElement"/>
				<xsd:element id="foo123" name="conflictObject" type="xsd:NMTOKEN"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key name="keyName">
			<xsd:selector xpath=".//keyElement"/>
			<xsd:field id="foo123" xpath="@keyField"/>
		</xsd:key>
	</xsd:element>
	<xsd:element name="keyElement">
		<xsd:complexType>
			<xsd:attribute name="keyField" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
