xsd2sch/test/msData/identityConstraint/idF020.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="t" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:unique id="foo123" name="tableu">
			<xsd:selector xpath=".//t"/>
			<xsd:field xpath="@row"/>
			<xsd:field xpath="@col"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="t">
		<xsd:complexType>
			<xsd:attribute name="row" type="xsd:string"/>
			<xsd:attribute name="col" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
