xsd2sch/test/msData/identityConstraint/idG013.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="t" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key id="foo123" name="tableu">
			<xsd:selector xpath=".//t"/>
			<xsd:field xpath="row"/>
			<xsd:field xpath="col"/>
		</xsd:key>
	</xsd:element>
	<xsd:element name="t">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="col" type="xsd:string" maxOccurs="unbounded"/>
				<xsd:element name="row" type="xsd:string" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
