xsd2sch/test/msData/identityConstraint/idL052.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="uid" maxOccurs="unbounded"/>
				<xsd:element name="kid" type="xsd:string" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key name="kkid">
			<xsd:selector xpath=".//kid"/>
			<xsd:field xpath="."/>
		</xsd:key>
		<xsd:keyref id="foo123" name="uuid" refer="kkid">
			<xsd:selector xpath=".//uid"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
	</xsd:element>
	<xsd:element name="uid" type="xsd:string"/>
</xsd:schema>
