xsd2sch/test/msData/identityConstraint/idL096.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="myNS.tempuri.org" xmlns:myNS="myNS.tempuri.org" xmlns="myNS.tempuri.org">
	<xs:element name="root">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="t" maxOccurs="unbounded"/>
				<xs:element ref="u" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
		<xs:key id="foo123" name="tableu">
			<xs:selector xpath=".//myNS:t | .//myNS:u"/>
			<xs:field xpath="myNS:*"/>
		</xs:key>
	</xs:element>
	<xs:element name="t" type="ttype"/>
	<xs:complexType name="ttype">
		<xs:sequence>
			<xs:element name="row" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="col" type="xs:string"/>
	</xs:complexType>
	<xs:element name="u" type="utype"/>
	<xs:complexType name="utype">
		<xs:sequence>
			<xs:element name="row" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="width" type="xs:string"/>
	</xs:complexType>
</xs:schema>
