xsd2sch/test/msData/identityConstraint/idZ011.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="root">
	<xsd:complexType>
	<xsd:sequence>
		<xsd:element name="a" maxOccurs="2">
			<xsd:complexType>
				<xsd:sequence/>
				<xsd:attribute name="id" type="xsd:ID" fixed="a"/>
			</xsd:complexType>
		</xsd:element>
	</xsd:sequence>
	</xsd:complexType>
    </xsd:element>
</xsd:schema>