trunk/xsd2sch/test/msData/schema/schI5_b.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="ns-b"
xmlns="ns-b"
elementFormDefault="qualified"
>

	<xsd:group name="b-g">
		<xsd:sequence>
			<xsd:element name="b1" type="xsd:boolean" maxOccurs="4"/>
			<xsd:element name="b2" type="xsd:int"/>
		</xsd:sequence>
	</xsd:group>

	<xsd:complexType name="ct-B">
		<xsd:sequence minOccurs="1">
			<xsd:group ref="b-g"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e2" type="ct-B" />
	
</xsd:schema>
