trunk/xsd2sch/test/msData/schema/schU4_h.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" targetNamespace="ns-a" xmlns="ns-a">


	<xsd:redefine schemaLocation="schU4_g.xsd">
		<xsd:attributeGroup name="g-g1">
			<xsd:attribute name="g1" type="xsd:int"/>
			<xsd:attribute name="g2" type="xsd:int"/>
		</xsd:attributeGroup>
  	</xsd:redefine>
	
</xsd:schema>
