trunk/xsd2sch/test/msData/schema/schU5_i.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" targetNamespace="ns-b" xmlns="ns-b">

	<xsd:redefine schemaLocation="schU5_j.xsd">
		<xsd:attributeGroup name="k-g1">
			<xsd:attribute name="k1" type="xsd:int"/>
			<xsd:attribute name="k2" type="xsd:int"/>
		</xsd:attributeGroup>
  	</xsd:redefine> 
	
</xsd:schema>