trunk/xsd2sch/test/msData/datatypes/Facets/Schemas/dateTime_maxInclusive003.xsd

<?xml version='1.0'?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >
<!-- Schema to test dateTime datatype -->
  <xsd:element name='test' type='fooType' />
  <xsd:complexType name='fooType' > 
    <xsd:sequence>
      <xsd:element name='foo' >
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime">
            <xsd:maxInclusive value="1985-04-12T10:30:00"/>
            <xsd:maxExclusive value="1985-04-12T10:30:00"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
