trunk/xsd2sch/test/msData/datatypes/Facets/gYearMonth/gYearMonth_enumeration004.xsd

<?xml version='1.0'?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >
<!-- Schema to test gYearMonth datatype -->
  <xsd:element name='test' type='fooType' />
  <xsd:complexType name='fooType' > 
    <xsd:sequence>
      <xsd:element name='foo' >
        <xsd:simpleType>
          <xsd:restriction base="xsd:gYearMonth">
            <xsd:enumeration value="2001-03"/>
            <xsd:enumeration value="2000-10"/>
            <xsd:enumeration value="2001-12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
