trunk/xsd2sch/test/msData/particles/particlesZ039.xsd

<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:complexType name="cTypeBase">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="attr1" type="xs:string"></xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="cTypeDerived">
		<xs:complexContent>
			<xs:restriction base="cTypeBase">
				<xs:sequence/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
