trunk/xsd2sch/test/msData/particles/particlesHb007.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:group name="Gb">
		<xsd:sequence>
			<xsd:element name="e1"/>
			<xsd:element name="e2"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="Gr">
		<xsd:all>
			<xsd:element name="e1"/>
			<xsd:element name="e2"/>
		</xsd:all>
	</xsd:group>
	<xsd:complexType name="base">
		<xsd:group ref="x:Gb"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="x:base">
					<xsd:group ref="x:Gr"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
