trunk/xsd2sch/test/msData/particles/particlesC002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="elem" type="x:elem" minOccurs="0" maxOccurs="100"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="elem">
		<xsd:choice>
			<xsd:any processContents="lax"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="a"/>
</xsd:schema>
