trunk/xsd2sch/test/msData/particles/particlesDa006.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:import namespace="http://importedXSD" schemaLocation="particlesDa001.imp"/>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="elem1"/>
				<xsd:element name="elem2" abstract="false" type="x:A"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="A">
		<xsd:choice>
			<xsd:element name="a1"/>
			<xsd:element name="a2"/>
			<xsd:element name="a3"/>
			<xsd:element name="a4"/>
			<xsd:element name="a5"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="foo"/>
</xsd:schema>
