trunk/xsd2sch/test/msData/particles/particlesJr001.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:x="http://importedXSD">
	<xsd:import namespace="http://importedXSD" schemaLocation="particlesJr001.imp"/>
	<xsd:element name="elem"/>
	<xsd:complexType name="R">
		<xsd:complexContent>
			<xsd:restriction base="x:B">
				<xsd:sequence>
					<xsd:element ref="elem"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="R"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
