trunk/xsd2sch/test/msData/particles/particlesHa143.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:complexType name="base">  
	<xs:choice>
	   <xs:sequence minOccurs="0">
   		<xs:element name="a" type="xs:string"/> 
    		<xs:element name="a" type="xs:string" minOccurs="0"/> 
	  </xs:sequence>
	</xs:choice>
 </xs:complexType>

 <xs:complexType name="derived">  
	<xs:complexContent>
	<xs:restriction base="base">
	<xs:choice>
	  <xs:sequence>
	    <xs:any namespace="##any" /> 	
	  </xs:sequence>
	</xs:choice>
	</xs:restriction>
	</xs:complexContent>
 </xs:complexType>

</xs:schema>
