trunk/xsd2sch/test/msData/particles/particlesW015.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" xmlns:imp="http://importedXSD">
	<xsd:complexType name="B">
		<xsd:sequence minOccurs="1" maxOccurs="9">
			<xsd:element name="e1" type="x:ct1"/>
			<xsd:element name="e2"/>
			<xsd:element name="e3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="R">
		<xsd:complexContent>
			<xsd:restriction base="x:B">
				<xsd:sequence>
					<xsd:element name="e1" type="x:ct2"/>
					<xsd:element name="e2"/>
					<xsd:element name="e3"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="x:R"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>


	<xsd:complexType name="ct1">
		<xsd:sequence>
			<xsd:element name="foo"/>
			<xsd:element name="bar"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct2">
		<xsd:sequence>
			<xsd:element name="foo"/>
			<xsd:element name="bar"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ct3">
		<xsd:complexContent>
		<xsd:restriction base="x:ct1">
			<xsd:sequence>
				<xsd:element name="foo"/>
				<xsd:element name="bar"/>
			</xsd:sequence>
		</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>

</xsd:schema>
