trunk/xsd2sch/test/msData/particles/particlesDc002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="x:elem1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="elem1" abstract="true" block="extension"/>
	<xsd:element name="elem2" substitutionGroup="x:elem1"/>
	<xsd:element name="elem3"/>
</xsd:schema>
