trunk/xsd2sch/test/msData/particles/particlesHa005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:group name="P">
		<xsd:sequence>
			<xsd:element name="e3"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="base">
		<xsd:sequence minOccurs="1" maxOccurs="2">
			<xsd:group ref="x:P"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="x:base">
					<xsd:sequence>
						<xsd:element name="e3"/>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
