trunk/xsd2sch/test/msData/particles/particlesC022.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:import namespace="http://importedXSD" schemaLocation="particlesC022.imp"/>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="elem" type="x:any" minOccurs="0" maxOccurs="100"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="any">
		<xsd:choice>
			<xsd:any processContents="lax" namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="foo"/>
</xsd:schema>
