trunk/xsd2sch/test/msData/particles/particlesEc002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:group name="G">
		<xsd:choice>
			<xsd:element name="a"/>
			<xsd:element name="b"/>
		</xsd:choice>
	</xsd:group>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:group ref="x:G" minOccurs="0"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
