trunk/xsd2sch/test/msData/particles/particlesEb013.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:group name="A">
		<xsd:sequence>
			<xsd:element name="a1"/>
			<xsd:element name="a2"/>
		</xsd:sequence>
	</xsd:group>

	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:group ref="x:A" minOccurs="1" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
