trunk/xsd2sch/test/msData/particles/particlesFa004.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:group name="G">
		<xsd:sequence>
			<xsd:element name="e1"/>
			<xsd:element name="e2"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="base">
		<xsd:group ref="x:G"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="x:base"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
