trunk/xsd2sch/test/msData/particles/particlesOb006b.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="foo" xmlns:x="foo">
	<xsd:complexType name="B">
		<xsd:choice>
			<xsd:any namespace="##any" minOccurs="1" maxOccurs="1"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="foo" type="x:B"></xsd:element>
	<xsd:element name="e1"/>
</xsd:schema>
