trunk/xsd2sch/test/msData/particles/particlesQ011.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" xmlns:imp="http://importedXSD">
	<xsd:complexType name="B">
		<xsd:sequence>
			<xsd:element name="foo" minOccurs="1" maxOccurs="1"/>
			<xsd:any namespace="##any" minOccurs="0" maxOccurs="4"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="R">
		<xsd:complexContent>
			<xsd:restriction base="x:B">
				<xsd:sequence>
					<xsd:element name="foo" minOccurs="1" maxOccurs="1"/>
					<xsd:sequence minOccurs="0" maxOccurs="1">
						<xsd:group ref="x:g1"/>
						<xsd:group ref="x:g2"/>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="x:R"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<xsd:group name="g1">
	   <xsd:choice>
		<xsd:element name="e1" maxOccurs="2"/>
	   </xsd:choice>
	</xsd:group>

	<xsd:group name="g2">
	   <xsd:choice>
		<xsd:element name="e2" maxOccurs="2"/>
	   </xsd:choice>
	</xsd:group>
</xsd:schema>

