trunk/xsd2sch/test/msData/particles/particlesHa183.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- restriction xs:any to a sequence -->
 <xs:complexType name="base">  
   <xs:all>
	<xs:element name="a" type="xs:string"/> 
   	<xs:element name="b" type="xs:string"/> 
   </xs:all>
 </xs:complexType>

 <xs:complexType name="derived">  
	<xs:complexContent>
	<xs:restriction base="base">
	  <xs:sequence>	
		<xs:any namespace="##any" />
	  </xs:sequence>
	</xs:restriction>
	</xs:complexContent>
 </xs:complexType>

</xs:schema>
