trunk/xsd2sch/test/msData/particles/particlesIc006.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="particlesIc006.imp"/>
	<xsd:element name="doc" type="testing"/>
	<xsd:complexType name="testing">
		<xsd:complexContent>
			<xsd:restriction base="base">
				<xsd:sequence>
					<xsd:element name="e1" maxOccurs="2"/>
					<xsd:element name="e2" maxOccurs="2"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
