trunk/xsd2sch/test/msData/particles/particlesZ030_c.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">


<xsd:simpleType name="myST">
    <xsd:union memberTypes="xsd:int xsd:string"></xsd:union>
</xsd:simpleType>

<xsd:simpleType name="mySTD">
        <xsd:restriction base="myST">
		<xsd:enumeration value="1" />
		<xsd:enumeration value="2" />
		<xsd:enumeration value="a" />
		<xsd:enumeration value="b" />
        </xsd:restriction>
 </xsd:simpleType>


<xsd:complexType name="cs">
            <xsd:simpleContent>
        <xsd:extension base="myST">
            <xsd:attribute name="a" use="optional"/>
        </xsd:extension>
            </xsd:simpleContent>
</xsd:complexType>

            

            <xsd:complexType name="csD">
                       <xsd:simpleContent>
                                <xsd:restriction base="cs">
					<xsd:enumeration value="1" />
					<xsd:enumeration value="2" />
                                </xsd:restriction>
                        </xsd:simpleContent>
            </xsd:complexType>

</xsd:schema>
