trunk/xsd2sch/test/msData/particles/particlesHa122.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:complexType name="base">  
   <xs:sequence>
    <xs:element name="e1" type="xs:string" />
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="derived">  
	<xs:complexContent>
	<xs:restriction base="base">
		<xs:group ref="grp" />
	</xs:restriction>
	</xs:complexContent>
 </xs:complexType>

 <xs:group name="grp">
	<xs:all>
		<xs:element name="e1" type="xs:string" />
	</xs:all>
 </xs:group>

</xs:schema>
