trunk/xsd2sch/test/msData/particles/particlesB001.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="elem"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="elem">
		<xsd:all maxOccurs="1">
			<xsd:element name="e1"/>
			<xsd:element name="e2"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
