trunk/xsd2sch/test/msData/particles/particlesFa005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:complexType name="base">
		<xsd:choice maxOccurs="3">
			<xsd:any namespace="##targetNamespace foo" processContents="lax"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="x:base"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="foo"/>
</xsd:schema>
