trunk/xsd2sch/test/msData/particles/particlesZ038.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="base">
	<xs:all>
		<xs:element name="a" minOccurs="0"/>
	</xs:all>
</xs:complexType>

<xs:complexType name="derived">
   <xs:complexContent>
	<xs:extension base="base">
		<xs:attribute name="a" />
	</xs:extension>
   </xs:complexContent>
</xs:complexType>


</xs:schema>