trunk/xsd2sch/test/msData/particles/particlesHb011.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:complexType name="base">
		<xsd:choice minOccurs="2" maxOccurs="unbounded">
			<xsd:element name="e1" minOccurs="0" maxOccurs="10"/>
			<xsd:element name="e2" minOccurs="0"/>
			<xsd:element name="e3" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="x:base">
					<xsd:choice minOccurs="2" maxOccurs="unbounded">
						<xsd:sequence maxOccurs="2">
							<xsd:element name="e1" maxOccurs="2"/>
						</xsd:sequence>
						<xsd:element name="e2"/>
						<xsd:element name="e3" minOccurs="1"/>
					</xsd:choice>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
