trunk/xsd2sch/test/msData/particles/particlesHb002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:group name="G">
		<xsd:all>
			<xsd:element name="e1" minOccurs="0"/>
			<xsd:element name="e2" minOccurs="0"/>
		</xsd:all>
	</xsd:group>
	<xsd:complexType name="base">
		<xsd:group ref="x:G"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="x:base">
					<xsd:choice>
						<xsd:any/>
					</xsd:choice>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
