trunk/xsd2sch/test/msData/particles/particlesZ034_a.xsd

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >
 <xsd:complexType name='fooType' > 
		<xsd:sequence>
   			<xsd:sequence maxOccurs="100">
				     <xsd:element name='a' maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:element name="b"/>
   			<xsd:sequence maxOccurs="100">
				     <xsd:element name='a' maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
  </xsd:complexType>
  <xsd:element name="doc" type="fooType"/>
</xsd:schema>
