trunk/xsd2sch/test/msData/particles/particlesHa011.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:group name="P">
		<xsd:choice>
			<xsd:element name="foo"/>
		</xsd:choice>
	</xsd:group>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:group ref="x:P" minOccurs="1" maxOccurs="1"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
