trunk/xsd2sch/test/msData/additional/addB080.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">
 <xsd:complexType name="customerOrderType">
  <xsd:sequence>
   <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
    <xsd:complexType>
     <xsd:attribute name="itemID" type="xsd:ID"/>
    </xsd:complexType>
  <!--xsd:unique name="oneCustomerOrdersforEachCustomerID">
   <xsd:selector xpath="//customer/item"/>
   <xsd:field xpath="@itemID"/>
  </xsd:unique-->
   </xsd:element>
  </xsd:sequence>
  <xsd:attribute name="CustomerID" type="xsd:ID"/>
 </xsd:complexType>
 <xsd:element name="orders">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="customer" type="customerOrderType"
minOccurs="0" maxOccurs="unbounded"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
