trunk/xsd2sch/test/msData/additional/addB091.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:complexType name="base">
	<xsd:sequence minOccurs="1" maxOccurs="1">
		<xsd:sequence>
			<xsd:element name="e1"/>
		</xsd:sequence>
		<xsd:sequence>
			<xsd:element name="e2" minOccurs="0"/>
		</xsd:sequence>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="doc">
	<xsd:complexType>
		<xsd:complexContent>
			<xsd:restriction base="base">
				<xsd:sequence>
				<xsd:sequence>
					<xsd:element name="e1"/>
				</xsd:sequence>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:element>

</xsd:schema>
