trunk/xsd2sch/test/msData/additional/addB089.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace = "http://xsdtesting"
    xmlns:x = "http://xsdtesting"
    elementFormDefault = "qualified">

<xsd:complexType name="base">
	<xsd:all>
		<xsd:element name="e1"/>
		<xsd:element name="e2"/>
	</xsd:all>
</xsd:complexType>


<xsd:element name="doc">
	<xsd:complexType>
		<xsd:complexContent>
			<xsd:extension base="x:base" >
				<xsd:sequence>
				<xsd:element name="e1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:element>

</xsd:schema>
