trunk/xsd2sch/test/msData/additional/fixed2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">	

	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" fixed="fixed" type="xsd:string" name="foo"/>
			</xsd:sequence>
			<xsd:attribute fixed="fixed" type="xsd:string" name="att"/>
			</xsd:complexType>
	</xsd:element>

</xsd:schema>
