trunk/xsd2sch/test/msData/additional/fixed1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">	

	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" fixed="Ѐfixed" type="xsd:string" name="foo"/>
			</xsd:sequence>
			<xsd:attribute ref="att"/>
			</xsd:complexType>
	</xsd:element>

	<xsd:attribute fixed="Ѐfixed" name="att"/>

</xsd:schema>
