trunk/xsd2sch/test/msData/additional/isdefault073.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="root" type="ct"/>
  <xs:complexType name="ct">
       <xs:sequence>
             <xs:element name="a" default="default"/>
             <xs:element name="b" fixed="fixed"/>
       </xs:sequence>
  </xs:complexType>

</xs:schema>