trunk/xsd2sch/test/msData/additional/regexp_IsLatinExd-A_44243.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="1"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:complexType name="Regex">
   <xsd:attribute name="att">
       <xsd:simpleType>
           <xsd:restriction base="xsd:string">
               <xsd:pattern value="\p{IsLatinExtended-A}"/>    
           </xsd:restriction>
       </xsd:simpleType>
   </xsd:attribute>
</xsd:complexType>

</xsd:schema>