trunk/xsd2sch/test/msData/additional/test102850_3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="error11" >
  <xs:sequence>
   <xs:sequence>
    <xs:element name="a" />
    <xs:sequence minOccurs="0">
     <xs:element name="b" />
     <xs:element name="c" minOccurs="1" maxOccurs="2"/>
    </xs:sequence>
   </xs:sequence>
   <xs:element name="c" />
  </xs:sequence>
 </xs:complexType>
</xs:schema>