trunk/xsd2sch/test/msData/additional/test73456.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="a">

      <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="b" minOccurs="1"/>
              <xsd:attribute name="ATT" type="integer" use="optional" default="a"/>

            </xsd:sequence>
      </xsd:complexType>

    </xsd:element>
</xsd:schema>
