trunk/xsd2sch/test/msData/additional/test69855.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="t" type="tabletype" />

    <xsd:redefine schemaLocation="redefinebug.red" >

	<xsd:complexType name="tabletype">
		<xsd:complexContent>
			<xsd:extension base="tabletype"> 
			<xsd:sequence>
				<xsd:element name="c" >
					<xsd:complexType mixed="true"> 
						<xsd:attribute name="val" type="xsd:string"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>	
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    </xsd:redefine>

</xsd:schema>
