xsd2sch/test/msData/additional/addB102.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

<xsd:group name="g1">
	<xsd:sequence>
		<xsd:element name="e1"/>
		<xsd:element name="e2"/>
	</xsd:sequence>
</xsd:group>

<xsd:element name="doc">
	<xsd:complexType>
		<xsd:group ref="g1" minOccurs="2" maxOccurs="4"/>
	</xsd:complexType>
</xsd:element>

</xsd:schema>