xsd2sch/test/msData/additional/addB082.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<xsd:attribute name="foo" xsd:type="xsd:string"/>
<xsd:attribute name="bar" xsd:type="xsd:string" />

<xsd:complexType name="attRef" xsd:type="xsd:integer" />

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="attRef"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>


</xsd:schema>
