xsd2sch/test/msData/additional/adhocAddA002e.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- include two identical schemas(different name) with unique Ids   -->

<xsd:include schemaLocation="adhocAddA002ae.xsd"/>
<xsd:include schemaLocation="adhocAddA002be.xsd"/>

<xsd:element name="purchaseOrder" type="PurchaseOrderType"/>

<xsd:element name="comment" type="xsd:string"/>

<xsd:complexType name="PurchaseOrderType">
	<xsd:sequence>
		<xsd:element name="shipTo"     type="Address"/>
		<xsd:element name="billTo"     type="Address"/>
		<xsd:element ref="comment" minOccurs="0"/>
	</xsd:sequence>
	<xsd:attribute name="orderDate" type="xsd:date"/>
</xsd:complexType>

</xsd:schema>
