xsd2sch/test/msData/additional/adhocAddC002.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' >

  <xs:import namespace='http://www.w3.org/XML/1998/namespace'  />

  <xs:element name='root' type='r' >
    <xs:unique name='test' >
	  <xs:selector xpath='.' />
	  <xs:field xpath='@xml:lang' />
    </xs:unique>
  </xs:element>

  <xs:complexType name='r' >
    <xs:sequence>
	  <xs:element name='item' type='i' minOccurs='1' maxOccurs='unbounded' />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name='i' >
    <xs:simpleContent>
	  <xs:extension base='xs:string' >
	    <xs:attribute ref='xml:lang' use='required' />
	  </xs:extension>
	</xs:simpleContent>
  </xs:complexType>
</xs:schema>