xsd2sch/test/msData/additional/isdefault002.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="root">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="str" type="xsd:string" fixed="abc"/>
			<xsd:element name="number" type="xsd:integer" fixed="123"/>
			<xsd:element name="bool" type="xsd:boolean" fixed="true"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
</xsd:schema>