xsd2sch/test/msData/additional/test93490_1.xsd

<xs:schema xmlns="foo" targetNamespace="foo" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
                
         
      <xs:element name="elem1"/>
      <xs:element name="elem2"/>
      <xs:element name="elem3"/>

      <xs:element name="root">
       <xs:complexType>
	<xs:sequence>
		<xs:any maxOccurs="unbounded" processContents="lax" namespace="##any"/>
	</xs:sequence>
       </xs:complexType>
      </xs:element>
</xs:schema>
