xsd2sch/test/msData/additional/test78000b.xsd

<schema xmlns='http://www.w3.org/2001/XMLSchema' version='0.1'
        targetNamespace='b'
        xmlns:b='b'
        elementFormDefault='qualified'>

<element name="test" type="b:testType"/>
<complexType name="testType">
    <attribute name="b1" type="string" use="required"/> 
</complexType>

</schema>