xsd2sch/test/msData/additional/test93568.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >

<xs:complexType name="A" mixed="true">
  <xs:sequence>
   <xs:element name="A" type="deci-string" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="B">
  <xs:complexContent>
   <xs:restriction base="A">
    <xs:sequence>
     <xs:element name="A" type="xs:string" maxOccurs="10" />
     </xs:sequence>
   </xs:restriction> 
  </xs:complexContent>
 </xs:complexType>

 <xs:simpleType name="deci-string">
   <xs:union memberTypes="xs:decimal xs:string"/>
 </xs:simpleType>

</xs:schema>

