xsd2sch/test/msData/additional/test82731.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:complexType block="restriction restriction restriction" name="foo1"/> 
 <xsd:complexType block="restriction extension restriction" name="foo2"/> 
 <xsd:complexType final="extension extension restriction restriction" name="foo3"/> 

 <xsd:complexType final="restriction restriction restriction" name="foo4"/> 
 <xsd:complexType final="restriction extension restriction" name="foo5"/> 
 <xsd:complexType final="extension extension restriction restriction" name="foo6"/> 


</xsd:schema>
