xsd2sch/test/msData/additional/test60998.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

<!--
all: with parent group 
-->

<xsd:complexType name="foo">
	<xsd:sequence minOccurs="0" maxOccurs="2">
		<xsd:element name="a" />
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="bar">
<xsd:complexContent>
	<xsd:extension base="foo">
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element name="b" />
			</xsd:sequence>
			<xsd:all>
				<xsd:element name="c"/>
			</xsd:all>
		</xsd:sequence>
	</xsd:extension>
</xsd:complexContent>
</xsd:complexType>

</xsd:schema>