xsd2sch/test/msData/additional/test71395.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault = "qualified"
    >

<!-- 
NameAndTypedOK (elt:elt ) element R drived by restriction from element B: B targetNanespace=absent, R targetNanespace=foo, , 
-->


<xsd:import schemaLocation="test71395.imp"/>

<xsd:element name="doc"/>

<xsd:complexType name="testing">
			<xsd:sequence>
				<xsd:element name="e1"/>		
				<xsd:element name="e2"/>		
				<xsd:element ref="foo"/>		
			</xsd:sequence>
</xsd:complexType>

</xsd:schema>
