xsd2sch/test/msData/additional/test72794.xsd

<?xml version="1.0" encoding="utf-8"?>
			
			<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			
			  <xs:element id="mustbeunique" block="substitution" default="10" name="foo" type="xs:integer" />
			
			  <xs:complexType name="bar">
			
			    <xs:sequence>
			
			      <xs:element minOccurs="0" maxOccurs="1"  form="qualified" ref="foo">
			
			        <xs:annotation>
			
			          <xs:appinfo />
			
			        </xs:annotation>
			
			      </xs:element>
			
			    </xs:sequence>
			
			  </xs:complexType>
			
			  <xs:element name="foo2" type="xs:integer" />
</xs:schema> 
