xsd2sch/test/msData/group/groupC006.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="A">
		<xsd:sequence minOccurs="0">
			<xsd:group name="xyz"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="xyz">
		<xsd:sequence>
			<xsd:element name="A"/>
			<xsd:element name="B"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
