xsd2sch/test/msData/group/groupO025.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="foo">
		<xsd:sequence>
			<xsd:element name="abc"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:attributeGroup name="foo">
		<xsd:group ref="foo"/>
		<xsd:attribute name="att"/>
	</xsd:attributeGroup>
	<xsd:complexType name="elem">
		<xsd:sequence>
			<xsd:element name="a1"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="foo"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="elem" type="elem"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
