xsd2sch/test/msData/group/groupB007.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:redefine schemaLocation="groupB007.red">
		<xsd:group ref="a"/>
	</xsd:redefine>
	<xsd:complexType name="complexType">
		<xsd:group ref="g1"/>
	</xsd:complexType>
	<xsd:element name="elem" type="complexType"/>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="elem"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="g1">
		<xsd:sequence>
			<xsd:element name="r1"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
