xsd2sch/test/msData/group/groupC005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="A">
		<xsd:sequence minOccurs="0">
			<xsd:element name="A" minOccurs="0"/>
			<xsd:element name="B" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="foo">
		<xsd:complexContent>
			<xsd:restriction base="A">
				<xsd:group name="xyz"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="xyz">
		<xsd:sequence>
			<xsd:element name="A"/>
			<xsd:element name="B"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
