xsd2sch/test/msData/group/groupL021.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="A">
		<xsd:choice>
			<xsd:group ref="B" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="B">
		<xsd:choice>
			<xsd:element name="b1"/>
			<xsd:element name="b2"/>
		</xsd:choice>
	</xsd:group>
	<xsd:element name="elem">
		<xsd:complexType>
			<xsd:group ref="A"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="elem"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
