xsd2sch/test/msData/group/groupB015.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="complexType">
		<xsd:sequence>
			<xsd:group ref="bar" minOccurs="0"/>
			<xsd:group ref="foo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="elem"/>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="elem"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="foo">
		<xsd:sequence>
			<xsd:group ref="bar"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="bar">
		<xsd:sequence>
			<xsd:group ref="foo"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
