xsd2sch/test/msData/group/groupO024.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="A">
		<xsd:sequence>
			<xsd:element name="a1"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="elem">
					<xsd:group ref="A"/>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
