xsd2sch/test/msData/group/groupD001.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="A" minOccurs="1">
		<xsd:sequence>
			<xsd:element name="A"/>
			<xsd:element name="B"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="elem">
		<xsd:complexType>
			<xsd:group ref="A"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="elem"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
