xsd2sch/test/msData/group/groupA003.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="foo" id="bar">
		<xsd:sequence>
			<xsd:element name="a"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="bar" id="bar">
		<xsd:sequence>
			<xsd:element name="a"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
