trunk/xsd2sch/test/msData/attribute/attD007.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting">
	<xsd:simpleType name="no">
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="char">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="a"/>
			<xsd:enumeration value="b"/>
			<xsd:enumeration value="c"/>
			<xsd:enumeration value="d"/>
			<xsd:enumeration value="e"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="noList">
		<xsd:list itemType="x:no"/>
	</xsd:simpleType>
	<xsd:simpleType name="charList">
		<xsd:list itemType="x:char"/>
	</xsd:simpleType>
	<xsd:simpleType name="ThreeNumbers">
		<xsd:restriction base="x:noList">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="st_u">
		<xsd:union memberTypes="x:noList x:charList xsd:integer"/>
	</xsd:simpleType>
	<xsd:attribute name="att1" type="x:st_u"/>
	<xsd:complexType name="attRef">
		<xsd:attribute ref="x:att1"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="x:attRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
