trunk/xsd2sch/test/msData/attribute/attD001.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="myInteger">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="10000"/>
			<xsd:maxInclusive value="99999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:attribute name="foo" type="myInteger"/>
	<xsd:attribute name="bar" type="xsd:string"/>
	<xsd:complexType name="attRef">
		<xsd:attribute name="att1" type="myInteger"/>
		<xsd:attribute name="att2"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="attRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
