trunk/xsd2sch/test/msData/attribute/attE008.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:x="http://importedXSD" attributeFormDefault="qualified">
	<xsd:import namespace="http://importedXSD" schemaLocation="attE008.imp"/>
	<xsd:attribute name="foo" type="xsd:string"/>
	<xsd:attribute name="bar" type="xsd:string"/>
	<xsd:complexType name="attRef">
		<xsd:attribute ref="x:att1"/>
		<xsd:attribute name="att2"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="attRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
