trunk/xsd2sch/test/msData/attribute/attO025.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:attribute name="foo" fixed="123"/>
	<xsd:complexType name="attRef">
		<xsd:attribute ref="x:foo" fixed="456"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="elem" type="x:attRef"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
