trunk/xsd2sch/test/msData/attribute/attQ014.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:element name="internationalPrice">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:decimal">
					<xsd:attribute name="currency" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="x:internationalPrice"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
