trunk/xsd2sch/test/msData/attribute/attZ011.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:complexType name="CT">
	  <xsd:attribute name="A" type="xsd:string" use="required"/>
</xsd:complexType>


 <xsd:complexType name="DCT">
 <xsd:complexContent>
   <xsd:restriction base="CT">
        <xsd:attribute name="A" type="xsd:string" />
   </xsd:restriction>
 </xsd:complexContent>
</xsd:complexType>

</xsd:schema>