trunk/xsd2sch/test/msData/datatypes/Facets/gMonth/gMonth_minExclusive005.xsd

<?xml version='1.0'?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >
<!-- Schema to test gMonth datatype -->
  <xsd:element name='test' type='fooType' />
  <xsd:complexType name='fooType' > 
    <xsd:sequence>
      <xsd:element name='foo' >
        <xsd:simpleType>
          <xsd:restriction base="xsd:gMonth">
            <xsd:minExclusive value="--01--"/>
            <xsd:maxExclusive value="--10--"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
