xsd2sch/test/msData/annotations/annotA019.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:redefine schemaLocation="annotA019.red">
		<xsd:annotation>
			<xsd:appinfo>
				<foo>foo<b/>bar</foo>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:group name="group">
  			<xsd:sequence>
				<xsd:element name="e1"/>
				<xsd:element name="e2"/>
			</xsd:sequence>
		</xsd:group>
	</xsd:redefine>
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:sequence>
			<xsd:group ref="group"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
