xsd2sch/test/msData/particles/particlesHa001.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:complexType name="base">
		<xsd:sequence>
			<xsd:element name="e" minOccurs="0"/>
			<xsd:element name="f" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="x:base">
					<xsd:sequence/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="B">
		<xsd:sequence>
			<xsd:element name="e" minOccurs="0"/>
			<xsd:element name="f" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="test">
		<xsd:complexContent>
			<xsd:restriction base="x:B">
				<xsd:sequence/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
