xsd2sch/test/msData/particles/particlesZ025b.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SchemaB" targetNamespace="urn:my.test:SchemaB" elementFormDefault="qualified" xmlns="urn:my.test:SchemaB" xmlns:mstns="urn:my.test:SchemaB" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:A="urn:my.test:SchemaA">
    <xs:import namespace="urn:my.test:SchemaA" schemaLocation="particlesZ025a.xsd">
    </xs:import>
    <xs:complexType name="DerivedObject">
        <xs:complexContent>
            <xs:extension base="A:BaseObject">
                <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="derivedObject" type="DerivedObject">
    </xs:element>
</xs:schema>
