xsd2sch/test/msData/particles/particlesIc002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" xmlns:imp="http://importedXSD" elementFormDefault="qualified">
	<xsd:import namespace="http://importedXSD" schemaLocation="particlesIc002.imp"/>
	<xsd:element name="doc" type="x:testing"/>
	<xsd:complexType name="testing">
		<xsd:complexContent>
			<xsd:restriction base="imp:base">
				<xsd:sequence>
					<xsd:element name="e1"/>
					<xsd:element name="e2"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
