xsd2sch/test/msData/particles/particlesJc012.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="B">
		<xsd:sequence>
			<xsd:any namespace="##any" minOccurs="2" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="R">
		<xsd:complexContent>
			<xsd:restriction base="B">
				<xsd:sequence>
					<xsd:element name="e1" maxOccurs="3"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="R"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
