xsd2sch/test/msData/particles/particlesHa168.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
 <xs:complexType name="base">  
   <xs:sequence>
	<xs:choice maxOccurs="2">
	   <xs:element name="a" type="xs:string" minOccurs="1"/>
	   <xs:element name="b" type="xs:string" />
	</xs:choice>
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="derived">  
	<xs:complexContent>
	<xs:restriction base="base">
	  <xs:sequence>
	    <xs:sequence maxOccurs="3">
	      <xs:element name="a" type="xs:string" minOccurs="1"/>
	    </xs:sequence>
	  </xs:sequence>
	</xs:restriction>
	</xs:complexContent>
 </xs:complexType>

</xs:schema>
