xsd2sch/test/msData/particles/particlesIg003.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:complexType name="base">
		<xsd:choice>
			<xsd:element name="e1" block="restriction"/>
			<xsd:element name="e2" block="restriction"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="testing">
		<xsd:complexContent>
			<xsd:restriction base="x:base">
				<xsd:choice>
					<xsd:element name="e1" block="restriction"/>
					<xsd:element name="e2" block="restriction"/>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="doc" type="x:testing"/>
	<xsd:complexType name="ext">
		<xsd:complexContent>
			<xsd:extension base="x:base"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
