xsd2sch/test/msData/particles/particlesZ037.xsd

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >
  <xsd:complexType name='fooType' > 

    <xsd:sequence>
    <xsd:sequence>
	     <xsd:element name='e1' minOccurs="1" maxOccurs="100"/>
	     <xsd:element name='e2' />
    </xsd:sequence>

    <xsd:sequence minOccurs="1" maxOccurs="1">
	     <xsd:element name='e1' minOccurs="1" maxOccurs="5"/>
	     <xsd:element name='e1' />
    </xsd:sequence>

    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
