xsd2sch/test/msData/particles/particlesIb002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:complexType name="base">
		<xsd:choice>
			<xsd:element name="foo" minOccurs="2" maxOccurs="6"/>
			<xsd:element name="foo" minOccurs="2" maxOccurs="6"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="x:base">
					<xsd:choice>
						<xsd:element name="bar" minOccurs="2" maxOccurs="2"/>
						<xsd:element name="foo" minOccurs="3" maxOccurs="5"/>
					</xsd:choice>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
