xsd2sch/test/msData/particles/particlesJh001.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="Base">
		<xsd:sequence>
			<xsd:any namespace="##other"/>
			<xsd:element name="e2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="R">
		<xsd:complexContent>
			<xsd:restriction base="Base">
				<xsd:sequence>
					<xsd:element name="elem"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="R"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
