xsd2sch/test/msData/particles/particlesHa140.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:complexType name="base">  
	   <xs:sequence>
   		<xs:element name="a" type="xs:string"/> 
    		<xs:element name="a" type="xs:string" /> 
	  </xs:sequence>
 </xs:complexType>

 <xs:complexType name="derived">  
	<xs:complexContent>
	<xs:restriction base="base">
	  <xs:sequence>
	    <xs:element name="a" type="xs:string" minOccurs="1" maxOccurs="1"/> 	
	  </xs:sequence>
	</xs:restriction>
	</xs:complexContent>
 </xs:complexType>

</xs:schema>
