xsd2sch/test/msData/particles/particlesFb005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:complexType name="base">
		<xsd:choice>
			<xsd:any namespace="##local ##targetNamespace foo"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="x:base">
					<xsd:choice>
						<xsd:element name="a1"/>
					</xsd:choice>
					<xsd:sequence>
						<xsd:element name="a1"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
