xsd2sch/test/msData/particles/particlesZ033_d.xsd

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >

  <xsd:complexType name='fooType' > 
    <xsd:sequence minOccurs="557" maxOccurs="6000">

      <xsd:sequence minOccurs="56" maxOccurs="100">
	     <xsd:element name='e1' minOccurs="7922" maxOccurs="10000"/>
	     <xsd:element name='e2' />
      </xsd:sequence>

      <xsd:element name='e2' />

      <xsd:choice minOccurs="1" maxOccurs="1">
	     <xsd:element name='e3' minOccurs="5" maxOccurs="5"/>
	     <xsd:element name='e4' maxOccurs="6000"/>
      </xsd:choice>
      </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
