xsd2sch/test/msData/particles/particlesZ036_b.xsd

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >
 <xsd:complexType name='fooType' > 
		<xsd:choice maxOccurs="100000">
   			<xsd:sequence maxOccurs="100000000">
				     <xsd:element name='a' maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:element name="b"/>
		</xsd:choice>
  </xsd:complexType>
  <xsd:element name="doc" type="fooType"/>
</xsd:schema>
