xsd2sch/test/msData/particles/particlesHa084.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- restriction xs:any to a sequence -->
 <xs:complexType name="base">  
   <xs:sequence>
	    <xs:any namespace="##any" minOccurs="2" maxOccurs="3"/> 
   </xs:sequence>
 </xs:complexType>

 <xs:complexType name="derived">  
	<xs:complexContent>
	<xs:restriction base="base">
 	 <xs:sequence>
	  <xs:sequence>
		 <xs:element name="e" type="xs:string" />
		 <xs:element name="e" type="xs:string" />
  	         <xs:any namespace="##targetNamespace" /> 
	  </xs:sequence>
	 </xs:sequence>
	</xs:restriction>
	</xs:complexContent>
 </xs:complexType>

</xs:schema>
