xsd2sch/test/msData/particles/particlesFb001.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:complexType name="base">
		<xsd:choice>
			<xsd:element name="c1"/>
			<xsd:element name="c2"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="x:base">
					<xsd:group ref="x:g"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="g">
		<xsd:choice>
			<xsd:element name="g1"/>
			<xsd:element name="g2"/>
		</xsd:choice>
	</xsd:group>
</xsd:schema>
