xsd2sch/test/msData/particles/particlesDa005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="elem1"/>
				<xsd:element name="elem2"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="A">
		<xsd:choice>
			<xsd:element name="a1"/>
			<xsd:element name="a2"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="foo"/>
</xsd:schema>
