xsd2sch/test/msData/datatypes/Facets/int/int_minExclusive006a.xsd

<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema">

              <xs:complexType name="cTypeRestricted">
					<xs:complexContent>
						<xs:restriction base="cTypeBase">
							<xs:sequence/>
							<xs:attribute name="attr1">
								<xs:simpleType>
									<xs:restriction base="intFacetMinInclusive10">
										<xs:minExclusive value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:restriction>
					</xs:complexContent>
                  </xs:complexType>
                  
                  <xs:complexType name="cTypeBase">
					<xs:attribute name="attr1" type="intFacetMinInclusive10"/>
                  </xs:complexType>
                  
                  <xs:simpleType name="intFacetMinInclusive10">
					<xs:restriction base="xs:int">
						<xs:minInclusive value="10"/>
					</xs:restriction>
                  </xs:simpleType>
</xs:schema>