xsd2sch/test/msData/element/elemE005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="myType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="foo" abstract="true" type="myType"/>
	<xsd:element name="myElem" substitutionGroup="foo">
		<xsd:simpleType>
			<xsd:restriction base="myType">
				<xsd:pattern value="[0-9]{,5}"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
