xsd2sch/test/msData/element/elemZ014.xsd

<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="urn-klondike-test" 
	xmlns:x="urn-klondike-test">

   <xsd:element name="root_elem" type="xsd:anyType"/>
   <xsd:complexType name="ctype_foo">
      <xsd:sequence>
          <xsd:element name="a" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
