xsd2sch/test/msData/element/test115478_b.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="foo" xmlns="foo" xmlns:bar="bar" elementFormDefault="qualified">

    <xsd:import schemaLocation="test115478_b_imp.xsd"/>

    <xsd:element name="root">
	<xsd:complexType>
	<xsd:sequence>
		<xsd:any namespace="##local"/>
	</xsd:sequence>
	</xsd:complexType>
    </xsd:element>

    <xsd:element name="e" />
    <xsd:element name="e1" type="xsd:int" substitutionGroup="e"/>

</xsd:schema>