trunk/xsd2sch/test/msData/group/groupO014.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="C">
		<xsd:choice>
			<xsd:group ref="D"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="B">
		<xsd:sequence>
			<xsd:group ref="C"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="A">
		<xsd:sequence>
			<xsd:group ref="B"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:group ref="A">
			</xsd:group>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="D">
		<xsd:choice>
			<xsd:element name="d"/>
		</xsd:choice>
	</xsd:group>
</xsd:schema>
