trunk/xsd2sch/test/msData/group/groupB014.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="elem">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="foo"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="elem"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="foo">
		<xsd:sequence>
			<xsd:element name="foo1"/>
			<xsd:element name="foo2"/>
			<xsd:group ref="foo"/>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
