trunk/xsd2sch/test/msData/group/groupA005.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="foo" id="foo">
		<xsd:sequence>
			<xsd:element name="a"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="ct1">
		<xsd:group ref="foo" id="bar"/>
	</xsd:complexType>
	<xsd:complexType name="ct2">
		<xsd:choice>
			<xsd:group ref="foo" id="bar"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
