trunk/xsd2sch/test/msData/group/groupN007.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="A">
		<xsd:sequence>
			<xsd:element name="a1"/>
			<xsd:element name="a2"/>
			<xsd:element name="a3"/>
			<xsd:element name="a4"/>
			<xsd:element name="a5"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="elem">
		<xsd:complexType mixed="true">
			<xsd:group ref="A" minOccurs="0" maxOccurs="0"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="elem"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
