xsd2sch/test/msData/regex/reC46.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='((ab)(ac){0,2})?', value='abaca', type='invalid', RULE='2,3,4,5,6,7,8'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="((ab)(ac){0,2})?"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
