xsd2sch/test/msData/regex/reDC3.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='double', pattern='\d*\.\d+', value='1.001', type='valid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:double">
           <xsd:pattern value="\d*\.\d+"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
