xsd2sch/test/msData/regex/reDE1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='dateTime', pattern='\p{Nd}{4}-\d\d-\d\dT\d\d:\d\d:\d\d', value='2001-06-06T12:12:00', type='valid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:dateTime">
           <xsd:pattern value="\p{Nd}{4}-\d\d-\d\dT\d\d:\d\d:\d\d"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
