xsd2sch/test/msData/regex/reDF5.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='time', pattern='\p{Nd}+:\d\d:\d\d(\-\d\d:\d\d)?', value='12345:12:12-12:12', type='invalid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:complexType name="Regex">
   <xsd:attribute name="att">
       <xsd:simpleType>
           <xsd:restriction base="xsd:time">
               <xsd:pattern value="\p{Nd}+:\d\d:\d\d(\-\d\d:\d\d)?"/>    
           </xsd:restriction>
       </xsd:simpleType>
   </xsd:attribute>
</xsd:complexType>



</xsd:schema>
