xsd2sch/test/msData/regex/reDI8.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='byte', pattern='(\- | \+)?((1[0-2]?[0-7]?)|([1-9]?[0-9]?))|(\+?128)', value='128', type='valid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:byte">
           <xsd:pattern value="((\-|\+)?[1-127])|(\-?128)"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
