xsd2sch/test/msData/regex/reDI1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='decimal', pattern='\p{Nd}+', value='10000101', type='valid', RULE=''
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:complexType name="Regex">
   <xsd:attribute name="att">
       <xsd:simpleType>
           <xsd:restriction base="xsd:decimal">
               <xsd:pattern value="\p{Nd}+"/>    
           </xsd:restriction>
       </xsd:simpleType>
   </xsd:attribute>
</xsd:complexType>



</xsd:schema>
