xsd2sch/test/msData/regex/reF6.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='[^2-9a-x]{2}', value='1x', type='invalid', RULE='15'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="[^2-9a-x]{2}"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
