xsd2sch/test/msData/regex/reG21.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='[\C\?a-c\?]+', value='?d?', type='invalid', RULE='14'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="[\C\?a-c\?]+"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
