xsd2sch/test/msData/regex/reI69.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\ta\tb\tc\t', value='&#x9;a&#x9;b&#x9;c&#x9;', type='valid', RULE='24'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\ta\tb\tc\t"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
