xsd2sch/test/msData/regex/reI63.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\t\ta\t\tb\t\t', value='&#x9;&#x9;a&#x9;&#x9;&#x9;&#x9;', type='invalid', RULE='24'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\t\ta\t\tb\t\t"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
