xsd2sch/test/msData/regex/reI67.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\n\ra\n\rb', value='&#xA;&#xD;a&#xA;&#xD;b', type='valid', RULE='24'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\n\ra\n\rb"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
