xsd2sch/test/msData/regex/reI71.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\na\nb\nc\n', value='&#xA;a&#xA;b&#xA;c&#xA;', type='valid', RULE='24'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\na\nb\nc\n"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
