xsd2sch/test/msData/regex/reJ61.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\p{S}*', value='#x2044;#xFFE2;#x20A0;#x20A0;#xFFE6;#x309B;#x309B;#xFFE3;#x3190;#x3190;#x1D1DD;', type='valid', RULE='25,34'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\p{S}*"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
