xsd2sch/test/msData/regex/reM92.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\p{IsByzantineMusicalSymbols}?', value='#x1D100;', type='invalid', RULE='25,36'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\p{IsByzantineMusicalSymbols}?"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
