xsd2sch/test/msData/regex/reP6.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

<!-- 
base='string', pattern='\s*\c\s?\c\s+\c\s*', value=' #x20;#x9;#xa;#xD;a c#xA;#x9;#xD;#x20;a#x20;#xA;#xD;#x9; #x20;#x20;#xD;#xa;', type='valid', RULE='37'
-->

<xsd:element name="doc">
    <xsd:complexType>
            <xsd:choice>
                <xsd:element name="elem" type="Regex" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:choice>
    </xsd:complexType>
</xsd:element>

<xsd:simpleType name="Regex">
       <xsd:restriction base="xsd:string">
           <xsd:pattern value="\s*\c\s?\c\s+\c\s*"/>    
       </xsd:restriction>
</xsd:simpleType>



</xsd:schema>
