trunk/xsd2sch/test/msData/simpleType/stZ009.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >

    <xs:complexType name="t1">
	<xs:simpleContent>
         <xs:restriction base="xs:anySimpleType" />
        </xs:simpleContent>
    </xs:complexType>

	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="e1" type="t1" maxOccurs="10"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    
 </xs:schema>