trunk/xsd2sch/test/msData/simpleType/stZ074_b.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="UnionOfList">
		<xs:union memberTypes="list1 list2" />
	</xs:simpleType>

	<xs:simpleType name="list1">
		<xs:list itemType="mytype"/>
	</xs:simpleType>

	<xs:simpleType name="mytype">
		<xs:restriction base="xs:Name">
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="list2">
		<xs:restriction base="list1">
			<xs:enumeration value="abc" />
		</xs:restriction>
	</xs:simpleType>

	
</xs:schema>
