trunk/xsd2sch/test/msData/simpleType/test107331_h.xsd

<?xml version="1.0" encoding="utf-8" ?> 
<xs:schema id="repro" 
                  elementFormDefault="qualified"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
                  
       <xs:element name="item" type="xs:anyType" />

       <xs:element name="root">
  	   <xs:complexType>
	     <xs:sequence>
		<xs:element ref="item" maxOccurs="unbounded" />
	     </xs:sequence>
	   </xs:complexType>
	</xs:element>

 	<xs:element name="a" type="xs:anySimpleType" substitutionGroup="item"/>

</xs:schema>