xsd2sch/test/msData/schema/schA8_b.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="foo"
xmlns:b="foo"
elementFormDefault="unqualified"
>
	<xsd:complexType name="ct-A">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:boolean" />
			<xsd:element name="a2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e1" type="b:ct-A" />
	
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:any namespace="##any" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

    <xsd:element name="foo"/>

</xsd:schema>
