xsd2sch/test/msData/schema/schG7_d.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="ns-d"
	xmlns="ns-d"
>

	<xsd:complexType name="ct-A">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:string" />
			<xsd:element name="a2" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e1" type="ct-A" />

	<xsd:element name="foo"/>
</xsd:schema>
