xsd2sch/test/msData/schema/schG10_b.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ns-b" 
xmlns:a="ns-a"
xmlns:b="ns-b"
xmlns:c="ns-c">

	<xsd:complexType name="ct-A">
		<xsd:sequence minOccurs="1">
			<xsd:element name="a1" type="xsd:boolean" />
			<xsd:element name="a2" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="e1" type="ct-A" />
	<xsd:element name="b-e1" type="a:ct-A" />
	<xsd:element name="b-e2" type="b:ct-A" />
	<xsd:element name="b-e3" type="c:ct-A" />
	
</xsd:schema>