xsd2sch/test/msData/schema/schM10_a.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">

	<xsd:redefine schemaLocation="schM9_b.xsd">
		<xsd:attributeGroup name="c-g2">
				<xsd:attribute name="a1" />
				<xsd:attribute name="a2" type="xsd:string" default="abc"/>
		</xsd:attributeGroup>
  	</xsd:redefine>
	
</xsd:schema>
