xsd2sch/test/msData/schema/schM5.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="ns-a"
xmlns="ns-a"
elementFormDefault="qualified"
>

	<xsd:redefine schemaLocation="schM5_a.xsd">
		<xsd:attributeGroup name="b-g1">
			<xsd:attribute name="b1" type="xsd:int"/>
			<xsd:attribute name="b2" type="xsd:int"/>
			<xsd:attribute name="b3" type="xsd:int"/>
			<xsd:attribute name="b4" type="xsd:int"/>
		</xsd:attributeGroup>
  	</xsd:redefine>

</xsd:schema>


