xsd2sch/test/msData/schema/schN4_b.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified"
>
	<xsd:redefine schemaLocation="schN4_c.xsd">
		<xsd:group name="c-g2">
			<xsd:choice>
				<xsd:element name="c21" type="xsd:string" maxOccurs="2"/>
				<xsd:element name="c22" type="xsd:string" maxOccurs="2"/>
			</xsd:choice>
		</xsd:group>
  	</xsd:redefine>

	<xsd:complexType name="b-ct">
		<xsd:group ref="c-g2"/>
	</xsd:complexType>

	<xsd:element name="b-e1" type="b-ct" />
	
</xsd:schema>
