xsd2sch/test/msData/schema/schN13a_v.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" targetNamespace="ns-a" xmlns:a="ns-a">

	<xsd:redefine schemaLocation="schN13b.xsd">
		<xsd:group name="bg">
			<xsd:choice>
				<xsd:group ref="a:bg"/>
				<xsd:element name="c23" type="xsd:int" maxOccurs="3"/>
				<xsd:element name="c24" type="xsd:int" maxOccurs="3"/>
			</xsd:choice>
		</xsd:group>
  	</xsd:redefine>

	
</xsd:schema>