xsd2sch/test/msData/schema/schU4_f.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" targetNamespace="ns-a" xmlns="ns-a">

	<xsd:include schemaLocation="schU4_h.xsd" />
	<xsd:redefine schemaLocation="schU4_g.xsd">
		<xsd:attributeGroup name="g-g1">
			<xsd:attribute name="g1" type="xsd:string"/>
			<xsd:attribute name="g2" type="xsd:string"/>
		</xsd:attributeGroup>
  	</xsd:redefine> 
	
</xsd:schema>
