xsd2sch/test/msData/schema/schU5_a.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="ns-a"
xmlns="ns-a" xmlns:b="ns-b"
elementFormDefault="qualified">

	<xsd:import namespace="ns-b" schemaLocation="schU5_b.xsd"/>

	<xsd:attributeGroup name="a-g1">
		<xsd:attribute name="a1" />
		<xsd:attribute name="a2" />
	</xsd:attributeGroup>

	<xsd:complexType name="a-ct">
		<xsd:attributeGroup ref="b:c-g1"/>
	</xsd:complexType>

	<xsd:element name="e1" type="a-ct" />
	
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:any namespace="##any" processContents="strict"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>


