xsd2sch/test/msData/schema/schZ009a.xsd

<?xml version="1.0" ?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:u" xmlns="urn:u">
	<xs:complexType name="uType">
		<xs:sequence>
			<xs:element name="uId" type="xs:string" />
			<xs:element name="uName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
