xsd2sch/test/msData/schema/schZ009b.xsd

<?xml version="1.0" ?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:x" xmlns="urn:x">
	<xs:import namespace="urn:u" />
	<xs:complexType name="xType">
		<xs:sequence>
			<xs:element name="xId" type="xs:string" />
			<xs:element name="xName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="xElem" type="xType" />
</xs:schema>
