xsd2sch/test/msData/schema/schZ004.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
targetNamespace="main"
xmlns:m="main"
xmlns:a="a"
xmlns:b="b"
>

    <xsd:import namespace="a" schemaLocation="schZ004a.xsd"/>

    <xsd:complexType name="ct">
	<xsd:sequence>
	    <xsd:element name="a" type="a:a"/>
	    <xsd:element name="b" type="b:b"/>
	</xsd:sequence>
   </xsd:complexType>

</xsd:schema>

