xsd2sch/test/msData/modelGroups/mgA012.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="comp">
		<xsd:all id="foo">
			<xsd:element name="bar"/>
		</xsd:all>
		<xsd:group ref="groupy"/>
	</xsd:complexType>
	<xsd:group name="groupy">
		<xsd:all id="foo">
			<xsd:element name="foo"/>
		</xsd:all>
	</xsd:group>
</xsd:schema>
