xsd2sch/test/msData/modelGroups/mgC003.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="test" type="test"/>
	<xsd:complexType name="test">
		<xsd:all>
			<xsd:element name="a"/>
			<xsd:element name="b"/>
			<xsd:element name="c"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
