xsd2sch/test/msData/modelGroups/mgE006.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:complexContent>
			<xsd:restriction base="bar">
				<xsd:sequence id="foo">
					<xsd:element name="e1" minOccurs="0" maxOccurs="0"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="bar">
		<xsd:sequence id="foo2">
			<xsd:element name="e1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
