xsd2sch/test/msData/modelGroups/mgE007.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="comp">
		<xsd:sequence id="foo">
			<xsd:element name="fud" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="extension">
		<xsd:complexContent>
			<xsd:extension base="comp">
				<xsd:sequence id="foo">
					<xsd:element name="bar" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
