xsd2sch/test/msData/modelGroups/mgE014.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="personName">
		<xsd:sequence>
			<xsd:element name="title" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="simpleName">
		<xsd:complexContent>
			<xsd:restriction base="personName">
				<xsd:sequence>
					<xsd:element name="title" minOccurs="0" maxOccurs="0"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="who" type="simpleName"/>
</xsd:schema>
