xsd2sch/test/msData/modelGroups/mgF018.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element name="s1"/>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="s2"/>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="s3"/>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="s4"/>
			</xsd:sequence>
			<xsd:any processContents="skip"/>
			<xsd:any processContents="skip"/>
			<xsd:any processContents="skip"/>
			<xsd:any processContents="skip"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
