xsd2sch/test/msData/modelGroups/mgH014.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:complexContent>
			<xsd:restriction base="bar">
				<xsd:choice>
					<xsd:element name="e1" minOccurs="0" maxOccurs="0"/>
					<xsd:element name="e2"/>
				</xsd:choice>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="bar">
		<xsd:choice>
			<xsd:element name="e1"/>
			<xsd:element name="e2"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
