xsd2sch/test/msData/modelGroups/mgH015.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root" type="bar"/>
	<xsd:complexType name="foo">
		<xsd:choice>
			<xsd:element name="a"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="bar">
		<xsd:complexContent>
			<xsd:extension base="foo">
				<xsd:choice>
					<xsd:element name="b"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
