xsd2sch/test/msData/modelGroups/mgH018.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:group ref="foo"/>
	</xsd:complexType>
	<xsd:group name="foo">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="e1"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
