xsd2sch/test/msData/modelGroups/mgL008.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:choice minOccurs="0">
			<xsd:element name="e1"/>
			<xsd:element name="e2"/>
			<xsd:element name="e3"/>
			<xsd:element name="e4"/>
			<xsd:element name="e5"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
