xsd2sch/test/msData/modelGroups/mgN009.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element name="e1"/>
				<xsd:element name="e2"/>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="f1"/>
				<xsd:element name="f2"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
