xsd2sch/test/msData/modelGroups/mgO017.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:group name="group">
		<xsd:sequence>
			<xsd:element name="e1"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:choice minOccurs="1" maxOccurs="1">
			<xsd:group ref="group"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
