xsd2sch/test/msData/modelGroups/mgO025.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="foo">
		<xsd:complexContent>
			<xsd:restriction base="bar">
				<xsd:group ref="group"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="group">
		<xsd:complexType>
			<xsd:all maxOccurs="0" minOccurs="0">
				<xsd:element name="e1"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:group>
</xsd:schema>
