xsd2sch/test/msData/modelGroups/mgQ018.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:choice>
			<xsd:element name="e1" type="xsd:string"/>
			<xsd:element name="e2" type="bar"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="bar">
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="e1" type="xsd:string"/>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
