xsd2sch/test/msData/modelGroups/mgS004.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="doc" type="foo"/>
	<xsd:complexType name="foo">
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="a"/>
					<xsd:element name="b"/>
				</xsd:sequence>
				<xsd:choice>
					<xsd:element name="a"/>
					<xsd:element name="b"/>
				</xsd:choice>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
