xsd2sch/test/msData/datatypes/Facets/negativeInteger/negativeInteger_maxExclusive002.xsd

<?xml version='1.0'?>
<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' >
<!-- Schema to test negativeInteger datatype -->
  <xsd:element name='test' type='fooType' />
  <xsd:complexType name='fooType' > 
    <xsd:sequence>
      <xsd:element name='foo' >
        <xsd:simpleType>
          <xsd:restriction base="xsd:negativeInteger">
            <xsd:maxExclusive value="-7"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
