xsd2sch/test/msData/attributeGroup/attgD013.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attribute name="foo" type="xsd:string"/>
	<xsd:attribute name="bar" type="xsd:string"/>
	<xsd:attributeGroup name="attG" id="abc">
		<xsd:attributeGroup ref="st"/>
	</xsd:attributeGroup>
	<xsd:simpleType name="st">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="attgRef">
		<xsd:attributeGroup ref="attG"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="attgRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
