xsd2sch/test/msData/attributeGroup/attgC013.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attributeGroup name="_a">
		<xsd:attribute name="att" type="xsd:int"/>
		<xsd:attribute name="att1" type="xsd:string"/>
		<xsd:attribute name="att2" type="xsd:string"/>
	</xsd:attributeGroup>
	<xsd:complexType name="abc" id="abc">
		<xsd:attributeGroup ref="_a"/>
	</xsd:complexType>
	<xsd:element name="doc" type="abc"/>
</xsd:schema>
