xsd2sch/test/msData/attributeGroup/attgB010.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" xmlns:imp="http://importedXSD">
	<xsd:attributeGroup name="abc">
		<xsd:attribute name="att1" type="xsd:int"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="abc">
		<xsd:attribute name="att2" type="xsd:int"/>
	</xsd:attributeGroup>
</xsd:schema>
