xsd2sch/test/msData/attributeGroup/attgD031.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:x="http://xsdtesting" targetNamespace="http://xsdtesting" elementFormDefault="qualified">
	<xsd:attribute name="att1" type="xsd:string"/>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="x:attRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="attRef">
		<xsd:attributeGroup ref="x:attG1"/>
	</xsd:complexType>
	<xsd:attributeGroup name="attG1">
		<xsd:attribute ref="x:foo"/>
		<xsd:anyAttribute namespace="##other" processContents="skip"/>
	</xsd:attributeGroup>
	<xsd:attribute name="foo" type="xsd:int"/>
	<xsd:attribute name="bar" type="xsd:int"/>
</xsd:schema>
