xsd2sch/test/msData/attributeGroup/attgC002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attributeGroup name="abc">
		<xsd:attribute name="att1" type="xsd:int"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="foo">
		<xsd:attributeGroup ref="abc"/>
		<xsd:attribute name="att2" type="xsd:int"/>
	</xsd:attributeGroup>
</xsd:schema>
