xsd2sch/test/msData/attributeGroup/attgA001.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attribute name="att1" type="xsd:string"/>
	<xsd:attribute name="att2" type="xsd:string"/>
	<xsd:attributeGroup name="abc" id="abc"/>
	<xsd:attributeGroup name="xyz">
		<xsd:attributeGroup ref="abc" id="xyz"/>
	</xsd:attributeGroup>
</xsd:schema>
