xsd2sch/test/msData/attributeGroup/attgC036.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="attgC036.inc"/>
	<xsd:redefine schemaLocation="attgC036.red">
		<xsd:attributeGroup name="car">
			<xsd:attributeGroup ref="car"/>
			<xsd:attributeGroup ref="bar"/>
		</xsd:attributeGroup>
	</xsd:redefine>
	<xsd:element name="doc" type="test"/>
	<xsd:complexType name="test">
		<xsd:attributeGroup ref="car"/>
	</xsd:complexType>
</xsd:schema>
