xsd2sch/test/msData/attributeGroup/attgD017.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:redefine schemaLocation="attgD017.imp">
		<xsd:attributeGroup name="attg">
			<xsd:attributeGroup ref="attg"/>
			<xsd:attributeGroup ref="attg1"/>
			<xsd:attribute ref="foo"/>
		</xsd:attributeGroup>
	</xsd:redefine>
	<xsd:attributeGroup name="attg1">
		<xsd:attribute name="foo"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="attg2">
		<xsd:attribute ref="foo"/>
	</xsd:attributeGroup>
	<xsd:attribute name="foo" type="xsd:string"/>
	<xsd:attribute name="bar" type="xsd:string"/>
	<xsd:attributeGroup name="attG" id="abc">
		<xsd:attribute name="att1" type="xsd:int"/>
	</xsd:attributeGroup>
	<xsd:complexType name="attgRef">
		<xsd:attributeGroup ref="attG"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="attgRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
