xsd2sch/test/msData/attribute/attC009.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:a="foo">
	<xsd:attribute name="foo" type="xsd:string"/>
	<xsd:attribute name="bar" type="xsd:string"/>
	<xsd:complexType name="attRef">
		<xsd:attribute name="a:b:b"/>
		<xsd:attribute name="att2"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="attRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
