xsd2sch/test/msData/attribute/attD002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:attribute name="foo" type="xsd:string"/>
	<xsd:attribute name="bar" type="ct"/>
	<xsd:complexType name="ct">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="attRef">
		<xsd:attribute name="att1" type="xsd:string"/>
		<xsd:attribute name="att2"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="attRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
