xsd2sch/test/msData/attribute/attD003.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="st">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:attribute name="att1" type="st"/>
	<xsd:complexType name="attRef">
		<xsd:attribute ref="att1"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="attRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
