xsd2sch/test/msData/attribute/attD004.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="list">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="stList">
		<xsd:list itemType="list"/>
	</xsd:simpleType>
	<xsd:attribute name="att1" type="stList"/>
	<xsd:complexType name="attRef">
		<xsd:attribute ref="att1"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="attRef"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
