xsd2sch/test/msData/attribute/attJ006.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:foo="foo">
	<xsd:attribute name="globalAtt">
		<xsd:simpleType>
			<xsd:restriction base="xsd:integer"/>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:element name="test">
		<xsd:complexType>
			<xsd:attribute name="complexAtt" use="optional" type="barType">
			</xsd:attribute>
			<xsd:attribute ref="globalAtt"/>
			<xsd:attributeGroup ref="attg"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="barType">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:attributeGroup name="attg">
		<xsd:attribute name="item1" use="optional" type="barType"/>
		<xsd:attribute name="item2" use="optional" type="barType"/>
	</xsd:attributeGroup>
</xsd:schema>
