xsd2sch/test/msData/attribute/attMc007.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified">
	<xsd:attributeGroup name="attG">
		<xsd:attribute name="aga1" form="unqualified"/>
		<xsd:attribute name="aga2" form="unqualified"/>
	</xsd:attributeGroup>
	<xsd:complexType name="attRef">
		<xsd:attributeGroup ref="x:attG"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="x:attRef">
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
