xsd2sch/test/msData/attribute/attQ002.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:element name="internationalPrice">
		<xsd:attribute name="att"/>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="x:base"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="base">
		<xsd:sequence>
			<xsd:element name="foo"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
