xsd2sch/test/msData/attribute/attQ017.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xsdtesting" xmlns:x="http://xsdtesting" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:redefine schemaLocation="attQ017.red">
		<xsd:attributeGroup name="red">
			<xsd:attributeGroup ref="x:red"/>
		</xsd:attributeGroup>
	</xsd:redefine>
	<xsd:attributeGroup name="attG">
		<xsd:attribute name="aga1" form="qualified"/>
		<xsd:attribute name="aga2" form="qualified"/>
	</xsd:attributeGroup>
	<xsd:complexType name="attRef">
		<xsd:attributeGroup ref="x:attG"/>
		<xsd:attribute name="foo" id="a1"/>
		<xsd:attributeGroup ref="x:red"/>
	</xsd:complexType>
	<xsd:element name="doc">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="elem" type="x:attRef">
				</xsd:element>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
