schematron/test/include/master-non-wf-xpath.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Test file for iso_dsrl_include.xsl -->

<?xml-stylesheet type="text/xsl" href="../../iso_dsdl_include.xsl"?>
<iso:schema 	xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
    xmlns:iso="http://purl.oclc.org/dsdl/schematron" 
    xmlns:nvdl="http://purl.oclc.org/dsdl/nvdl" 
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
    xmlns:schold="http://www.ascc.net/xml/schematron"
    xmlns:crdl="http://purl.oclc.org/dsdl/crepdl/ns/structure/1.0"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:dtll="http://www.jenitennison.com/datatypes"
    xmlns:dsdl="http://www.dsdl.org/namespace" 
    xmlns:relax="http://relaxng.org/ns/structure/1.0" 
    xmlns:xlink="http://www.w3.org/1999/xlink"  >
    
    <iso:pattern>
     <iso:rule context="a/b/[c" >
        <iso:assert test=" a/b/c[(]">Something</iso:assert>
     </iso:rule>
     </iso:pattern>

</iso:schema>